//localhost:4873/:_password="Ym9oZW1pYQ=="
//localhost:4873/:username=prague
//localhost:4873/:always-auth=true
//packages.wu2.prague.office-int.com/:_authToken="mQ12JIgL/OVL2fiPinbqIA=="
//packages.wu2.prague.office-int.com/:always-auth=true

@microsoft:registry=https://packages.wu2.prague.office-int.com
@fluid-example:registry=https://packages.wu2.prague.office-int.com
@fluid-internal:registry=https://packages.wu2.prague.office-int.com
@yo-fluid:registry=https://packages.wu2.prague.office-int.com
always-auth=true
