.searchMenu {
	display: none;

	text-align: center;
	width: 100%;

	position: relative;
	margin: 30% 0 0 0;
}

.input {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0.5em;
	border: 1px solid #bbb;
	border-radius: 3px;
	width: 400px;
	font-size: 11pt;
}
