.document { 
    width: 100%;
}

.documentContent { 
    /* user-select: none; */
}

.documentContent:focus { 
    outline: none;
}

.documentOverlay {
    pointer-events: none;
}

.trailingSpan::after {
    content: "ᅜ";
    color: #ccc;
    padding: 0px 2px 0px 3px;
}