.todo-item-header {
    margin: 0;
    display: flex;
}

.todo-item-expand-button {
    box-sizing: border-box;
    width: 30px;
    height: 50px;
    margin: 10px 0 10px 10px;
    border: none;
    padding: 0;
    font-size: 30px;
    background: none;
}

.todo-item-checkbox {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 10px 0 10px 10px;
}

.todo-item-input {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 50px;
    margin: 10px 0 10px 10px;
    padding: 0;
    font-size: 20px;
    outline: none;
}

.todo-item-details {
    width: 100%;
}
