registry=https://registry.npmjs.org/
always-auth=false

//packages.wu2.prague.office-int.com/:_authToken="mQ12JIgL/OVL2fiPinbqIA=="
//packages.wu2.prague.office-int.com/:always-auth=true
@prague:registry=https://packages.wu2.prague.office-int.com
@prague:always-auth=true

@chaincode:registry=https://packages.wu2.prague.office-int.com
@chaincode:always-auth=true

@component:registry=https://packages.wu2.prague.office-int.com
@component:always-auth=true

@ms:registry=https://packages.wu2.prague.office-int.com
@ms:always-auth=true

@tiny-calc:registry=https://packages.wu2.prague.office-int.com
@tiny-calc:always-auth=true

@tiny:registry=https://packages.wu2.prague.office-int.com
@tiny:always-auth=true

@microsoft:registry=https://packages.wu2.prague.office-int.com
@microsoft:always-auth=true

@fluid-internal:registry=https://packages.wu2.prague.office-int.com
@fluid-internal:always-auth=true

@fluid-example:registry=https://packages.wu2.prague.office-int.com
@fluid-example:always-auth=true
