/*----- Downloads -----*/
.alt-downloads {
	text-align: center;

	.download-icon {
		display: inline;
	}
	.download-icon-accessible {
		display: none;
	}

	@media screen and (-ms-high-contrast: black-on-white) {
		.download-icon-accessible {
			display: inline;
		}
		.download-icon {
			display: none;
		}
	}

	.download {
		padding: 0 25px;
		display: inline-block;
		vertical-align: top;
	}

	/* Download for your OS */
	.home.download {
		display: none;
	}

	&.win {
		.download.osx {
			display: inline-block;
		}
		.download.linux {
			display: inline-block;
		}
	}
	&.linux {
		.download.osx {
			display: inline-block;
		}
		.download.win {
			display: inline-block;
		}
	}
	&.osx {
		.download.win {
			display: inline-block;
		}
		.download.linux {
			display: inline-block;
		}
	}

	//TODO: make only the 2 OS other than current user's OS show up
	.logo {
		height: 100px;
		width: 100px;
		background-size: contain !important;
		margin: 0 auto;
		-ms-high-contrast-adjust: none;

		&.windows {
			background: url("/assets/images/windows-logo.png") center center no-repeat;
		}

		&.mac {
			background: url("/assets/images/apple-logo.svg") center center no-repeat;
			@media screen and (-ms-high-contrast: white-on-black) {
				background-image: url("/assets/images/apple-logo-inverted.svg");
			}
		}

		&.linux {
			background: url("/assets/images/linux-logo.png") center center no-repeat;
		}
	}

	.link-button {
		color: white;
		margin: 20px 0 5px;
		padding: 10px 0;
		font-size: 1.8rem;
		width: 240px;
		small {
			display: block;
			margin-top: 0.75rem;
			color: rgba(255, 255, 255, 0.9);
			font-size: 1.2rem;
			&.build-type {
				margin-top: 0;
				font-size: 1.4rem;
				font-weight: 300;
			}
		}
		background-color: $accent-primary;
		&:hover {
			background-color: darken($accent-primary, 4%);
		}
		&[data-os="linux64_deb"],
		&[data-os="linux64_rpm"] {
			width: 147px;
		}
		img {
			position: relative;
			top: -2px;
			margin-right: 10px;
		}
	}

	.sublink {
		display: block;
		font-size: 12px;
	}

	.terms {
		p {
			font-size: 1.4rem;
			line-height: 3rem;
		}
		color: #6c6c6c;
		padding: 4rem 19%;
	}

	.swimlane {
		min-height: auto;
		padding: 1.5rem;
	}

	&.download-buttons.swimlane {
		// padding-bottom: 2rem;
	}

	&.insiders-callout .swimlane {
		margin-bottom: 2rem;
		h2 {
			font-weight: 600;
			margin-bottom: 0.5rem;
			color: $text-color;
			font-size: 2.1rem;
		}
		.call-to-action {
			font-size: 1.8rem;
			color: $text-color;
		}
	}
}

@media (min-width: $screen-lg) {
	.alt-downloads .terms {
		padding: 20px 20%;
	}
}

.home {
	.alt-downloads {
		&.swimlane {
			// padding-bottom: 0;
		}
		.swimlane {
			padding-top: 0;
		}
	}
}

#alt-downloads {
	.win-downloads {
		width: 94%;
	}
	.linux-downloads {
		width: 55%;
	}
	.win-downloads,
	.linux-downloads {
		margin-top: 16px;
		margin-left: auto;
		margin-right: auto;
	}
}

#alt-downloads,
.insiders-builds {
	table.win-downloads col:nth-of-type(1) {
		width: 135px;
	}
	table.linux-downloads col:nth-of-type(1) {
		width: 75px;
	}

	table.win-downloads col:nth-of-type(2),
	table.win-downloads col:nth-of-type(3),
	table.linux-downloads col:nth-of-type(2),
	table.linux-downloads col:nth-of-type(3) {
		width: 45px;
	}
}

.download-btns.insiders-builds {
	.win-downloads,
	.linux-downloads {
		margin: 16px auto 20px auto;
	}
}
