.azure-home {
	.azure-cta {
		color: #fff;
		background-color: #2760b6;
		margin: 2.5rem;
		height: 6.5rem;
	}

	#nodejs-deployment-get-started {
		@extend .azure-cta;
	}

	@media (min-width: $screen-md) {
		.jumbotron .row:first-child {
			height: 350px;
		}
	}

	.cta {
		padding-top: 5%;
		padding-bottom: 5%;
		text-align: center;
	}

	.value-prop {
		svg {
			fill: currentColor;
			height: 5rem;
			width: 5rem;
		}

		.name {
			margin-top: 1rem;
		}
	}

	@media (max-width: $screen-xs-max) {
		.swimlane .screenshot {
			width: 60%;
			margin: auto;
			display: block;
		}
	}

	@media (min-width: $screen-sm) and (max-width: $screen-lg) {
		.swimlane .container .row .col-sm-4 .screenshot {
			width: 100%;
			margin: auto;
			display: block;
		}
	}
}
