#wow-carousel:before {
  // Pre-load trick for images in hidden carousel slides (modern browsers do not load display:none images)
  content: '';
  opacity: 0;
//   background: url('/assets/docs_carousel/debug_b.png'),
//     url('/assets/docs_carousel/multi-cursor-edit.png'),
//     url('/assets/docs_carousel/git_b.png'),
//     url('/assets/docs_carousel/peek_b.png'),
//     url('/assets/docs_carousel/intellisense_b.png');
}
.carousel {
  background-color: $gray-95;
  padding: 1rem;

  .item > a:first-child {
    max-width: 750px;
    display: block;
    margin: auto;
    padding-top: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    // &.debug {
    //   background-image: url('/assets/docs_carousel/debug_b.png');
    // }
    // &.edit {
    //   background-image: url('/assets/docs_carousel/multi-cursor-edit.png');
    // }
    // &.git {
    //   background-image: url('/assets/docs_carousel/git_b.png');
    // }
    // &.peek {
    //   background-image: url('/assets/docs_carousel/peek_b.png');
    // }
    // &.intellisense {
    //   background-image: url('/assets/docs_carousel/intellisense_b.png');
    // }
  }

  .caption {
    position: relative;
    left: auto;
    right: auto;
    margin-top: 1rem;
    text-align: center;

    .title {
      font-weight: 800;
    }
  }
  .carousel-indicators {
    position: relative;
    bottom: 0px;
    padding-top: 2rem;
    li {
      border-color: #999b9d;
      &.active {
        background-color: #999b9d;
      }
    }
  }
}
