pre.shiki {
	padding: 0.5em 0.7em;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	border: 1px solid #949494;
	border-radius: 4px;

	code {
		tab-size: 2;
	}

	.language-id {
		position: absolute;
		padding: 0.2em 0.4em;
		right: 0;
		border: 1px solid #eee;
		transform: translate(calc(-1.1em - 1px), -0.6em);
		user-select: none;
	}
}
