//------------------------------------
//              #COLORS
//------------------------------------

//Variables
$lightblue: #00bcf2;
$blue: #0072be;
$stable-blue: #0076bf;
$midblue: #00188f;
$darkblue: #002050;
$lightpurple: #b4a0ff;
$purple: #5c2d91;
$darkpurple: #373277;
$lightmagenta: #e3008c;
$magenta: #b4009e;
$darkmagenta: #5c005c;
$red: #e81123;
$darkred: #a80000;
$lightorange: #ff8c00;
$orange: #d83b01;
$insiders-green: #058f2d;
$lightyellow: #fff100;
$yellow: #ffcc00;
$lightgreen: #bad80a;
$green: #477a32;
$darkgreen: #004b1c;
$lightteal: #00b294;
$teal: #008272;
$darkteal: #004b50;
$gray-95: darken(
  white,
  5%
); //Darkest gray that's accessible with our blue links on top at normal sizes
$lightgray: #e3e3e3;
$gray: #ccc;
$darkgray: #333;
$white: #ffffff;
$black: #000000;
$text-color: #444;
$link-color-hover: #23527c;

$header-background: #2C2C32;
$accent-primary: #0066B8;

$banner-background: $header-background; // #25252B;
$banner-link-color: #0098FF;
$banner-text: #CCC;
$link-color: #0071BC;
$visited-link-color: #ac7ee1;

$color-list: ('lightblue', $lightblue),  ('blue', $blue),  ('midblue', $midblue),
   ('darkblue', $darkblue),  ('lightpurple', $lightpurple),  ('purple', $purple),
   ('darkpurple', $darkpurple),  ('lightmagenta', $lightmagenta),
   ('magenta', $magenta),  ('darkmagenta', $darkmagenta),  ('red', $red),
   ('darkred', $darkred),  ('lightorange', $lightorange),  ('orange', $orange),
   ('lightyellow', $lightyellow),  ('yellow', $yellow),
   ('lightgreen', $lightgreen),  ('green', $green),  ('darkgreen', $darkgreen),
   ('lightteal', $lightteal),  ('teal', $teal),  ('darkteal', $darkteal), ('primaryBg', $header-background), ('primaryButtonBg', $accent-primary)
   ('gray', $gray);
$shade-list: (20%, 40%, 60%, 80%);

//Functions
@function tint($color, $percentage) {
  @return mix(#FFFFFF, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(#000000, $color, $percentage);
}
