/*-------------------------*/
/*---- Default Styles -----*/
/*-------------------------*/

blockquote {
	font-size: 1.6rem;
}

textarea {
	resize: none;
	overflow-y: scroll;
}

.visible {
	visibility: "visible";
}

button,
.link-button {
	font-family: $default-font;
	font-weight: 600;
	font-size: 20px;
	padding: 15px 35px;
	display: inline-block;
	color: inherit;
	cursor: pointer;
}

.link-button:hover {
	text-decoration: none;
	color: inherit;
}

.dlink {
	cursor: pointer;
}

.main-container {
	min-height: 100%;
	position: relative;
}

.body-content {
	padding-top: 25px;
	padding-bottom: 40px;
}

.row.display-flex {
	// For equal height of Bootsrap columns
	display: flex;
	flex-wrap: wrap;
	> [class*="col-"] {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

/*---- Swimlanes -----*/
.swimlane {
	padding: 6rem 0 6rem;
	min-height: 30rem;
	position: relative;
}

.swimlane:nth-child(odd) {
	background-color: #f5f5f5;
}

.swimlane:nth-child(even) {
	background-color: initial;
}

.download-button {
	background-color: $accent-primary;
	&:hover,
	&:active,
	&:focus {
		background-color: darken($accent-primary, 4%);
	}
}

.action-button {
	background-color: $darkpurple;
	&:hover,
	&:active,
	&:focus {
		background-color: rgba(55, 50, 119, 0.8);
	}
}
