/*---- Docs -----*/

#docs-subnavbar > div:first-child.connect-widget {
  margin-top: 0; // Gets rid of top margin when it is the first thing in the docs-subnavbar, to be aligned with left nav.
}

.docs {
  .body {
    line-height: 1.6;

    h2 {
      padding-top: 70px; // Need to add padding so that header jumps (links and right nav) display below sticky nav bar
      margin-top: -50px;
    }

    h3 {
      padding-top: 70px; // Need to add padding so that header jumps (links and right nav) display below sticky nav bar
      margin-top: -50px;
    }

    h4 {
      margin-top: 30px;
    }
  }

  video {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 100%;
  }

  iframe {
    width: 100%;
    max-width: 100%;
    height: 400px;
  }

  h1 {
    margin-bottom: 15px;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .body h4 {
    margin-top: 30px;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .keybinding {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: $blue;
    background-color: #f4f2f9;
    @include border-radius(4px);

    &.osx {
      font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
        sans-serif;
    }
  }

  #confirmation {
    padding: 10px 15px;
    display: none;
    text-align: center;
    background-color: #f1f8ee;
    border-color: #f1f8ee;

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 2.8rem;
    }

    p {
      margin-top: 0;
      font-size: 0.8em;
    }
  }

  .hash-link {
    margin: 1%;

    &.transparent {
      color: transparent;
    }
  }
}

.docs-navbar-container {
  position: -webkit-sticky;
  position: sticky;
  -ms-overflow-style: none;
  top: 70px !important;
  height: calc(100vh - 70px);
}
@media (max-width: $screen-md) {
  .docs-navbar-container {
    position: -webkit-sticky;
    position: sticky;
    -ms-overflow-style: none;
    top: 20px !important;
    height: calc(100vh - 20px);
  }
}

#docs-navbar {
  // Prevent Firefox Orange scrollbar: https://stackoverflow.com/a/25904563/1780148
  overflow: -moz-scrollbars-none;

  overflow-y: auto;
  max-height: calc(100vh - 40px);
}
#docs-navbar > .nav {
  max-height: calc(100vh - 140px);
  overflow: hidden;
}
#docs-navbar::-webkit-scrollbar {
  width: 0 !important;
}
#docs-subnavbar.affix {
  position: static;
  top: 0;
}
#docs-subnavbar.affix-bottom {
  position: relative;
}

#docs-navbar {
  padding: 15px 0;
  display: none;
}

#docs-subnavbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.docs-nav h4,
#docs-subnavbar h4 {
  margin-top: 0;
}

#docs-navbar h4 {
  padding-left: 15px;
}

#docs-subnavbar h4 {
  padding-left: 10px;
}

#docs-navbar > .nav a {
  padding-left: 10px;
}

#docs-navbar ul {
  list-style: none;
  padding: 0;
}

#docs-navbar .nav {
  li a {
    border-left: 1px solid $gray;
    display: block;

    &:hover {
      background: none;
      color: $text-color;
      text-decoration: none !important;
      border-color: $link-color;
    }

    &:focus {
      background: none;
    }
  }

  > li > a {
    padding: 8px 15px;
    font-size: 14px;
  }

  > li li > a {
    padding: 5px 25px;
    position: relative;
  }

  .docs-home {
    padding-bottom: 16px;
  }

  > li > .area {
    @include h4();
  }

  .panel {
    /* Have to reset panel for accordion effect to work */
    margin-bottom: inherit;
    background-color: inherit;
    border: inherit;
    @include border-radius(inherit);
    -webkit-box-shadow: inherit;
    box-shadow: inherit;

    > a {
      margin-right: 40px;
    }

    &.expanded a {
      border-color: $link-color;
    }

    &.expanded > a:hover {
      background: url('/expand-up.svg') 110px 5px no-repeat;
      background-size: 24px;
    }

    &.collapsed > a:hover {
      background: url('/expand-down.svg') 110px 5px no-repeat;
      background-size: 24px;
    }
  }

  .collapsing {
    @include transition-duration(0.25s);
  }
}

#docs-navbar .nav li a,
#docs-subnavbar .nav li a {
  color: #707070;
  &:focus {
    background-color: transparent;
  }
}

#docs-subnavbar .nav li a {
  padding: 5px 10px;
}

#docs-subnavbar .nav li a:before {
  content: '{';
  color: #bbb;
  position: absolute;
  font-size: 16px;
  top: 1px;
  left: 0;
  display: none;
}

#docs-subnavbar .nav li a:hover {
  background: none;
  color: $text-color;
}

#docs-subnavbar .nav li a:hover:before {
  font-weight: bold;
  display: block;
}

/* Main Nav active */
#docs-navbar > .nav > .active > a,
#docs-navbar > .nav > .active .active > a {
  color: $link-color !important;
}

#docs-navbar > .nav > .active > a:not(.area),
#docs-navbar > .nav > .active .active > a {
  font-weight: bold;
}

#docs-navbar > .nav .active .active a:before {
  content: '';
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: $link-color;
  top: 10px;
  left: -4px;
  @include border-radius(100%);
}

/* Subnav L1 active */
#docs-subnavbar .nav > .active > a {
  color: $link-color;
  font-weight: bold;
}

#docs-subnavbar .nav > .active > a:before {
  color: $link-color;
  display: block;
}

/* Subnav L2 active */
#docs-subnavbar .nav > .active > .nav > .active > a {
  color: $lightpurple;
}

#small-nav {
  padding: 5px 0;
}

#small-nav > * {
  display: inline-block;
}

#small-nav #small-nav-dropdown {
  max-width: calc(100% - 27px);
  margin-right: 15px;
  margin-left: 12px;
}

#small-nav .social-buttons {
  vertical-align: text-top;
  display: inline-block;
}

.docs .body-footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 14px;
  color: #707070;
}

.docs .feedback {
  .widget {
    background-color: #E1F1FF;
    padding: 20px;
    font-size: 1.3rem;
    margin-top: 40px;
  }

  h3 {
    font-weight: 600;
    font-size: 1.6rem;
    padding-top: 0;
    margin-top: 0;
    display: inline-block;
    width: 80%;
  }

  .charCount {
    display: inline-block;
    width: 20%;
    font-size: 1.6rem;
    text-align: right;
  }

  .buttons {
    h3:first-child {
      margin-bottom: 20px;
    }

    button {
      background-color: $accent-primary;
      color: white;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      font-size: 1.4rem;
      padding: 5px 20px;
      margin-right: 5px;
    }

    button:hover {
      background-color: darken($accent-primary, 4%);
    }

    button:disabled {
      opacity: 0.3;
    }
  }

  .progress-spinner {
    display: inline;
    margin-left: 2px;

    span {
      height: 8px;
      width: 8px;
      @include border-radius(100%);
      margin: 0 1px;
      display: inline-block;
      opacity: 0.5;
      background-color: $blue;

      -webkit-animation: 1s pulse infinite;
      animation: 1s pulse infinite;
    }

    span:nth-of-type(1) {
      -webkit-animation-delay: 0.33333s;
      animation-delay: 0.33333s;
    }

    span:nth-of-type(2) {
      -webkit-animation-delay: 0.6666s;
      animation-delay: 0.6666s;
    }

    span:nth-of-type(3) {
      -webkit-animation-delay: 0.9999s;
      animation-delay: 0.9999s;
    }
  }
}

.docs .hero-videos {
  margin-top: 10px;
  margin-bottom: 20px;
}

.docs .hero-videos .video .screen {
  height: 200px;
  width: 100%;
//   background: url('/assets/images/hero-video-frame.png') left top no-repeat;
  background-size: cover;
  position: relative;
}

.docs .hero-videos .video .screen .video-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: 100px;
  &:focus {
    opacity: 1;
  }
}

.docs .next-level.header {
  margin-bottom: 10px;
}

.docs .section {
  padding: 5px 15px;
  background-color: #f3f3f3;
  height: 160px;
  margin-bottom: 25px;

  h3 {
    color: $darkpurple;
    font-weight: bold;
  }
}

.docs a.type-ref {
  cursor: pointer;
}

.docs a.type-instrinct {
  //cursor: text;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.docs p span.ts {
  display: block;
  padding: 15px;
  //border-radius: 10px 10px 0 0;
  font-weight: 600;
  position: relative;
  margin-left: 10px;
  cursor: pointer;

  $border-size: 7px;
  &::before {
    -ms-high-contrast-adjust: none;
    $border-size-width: $border-size * 0.8;
    border-width: $border-size-width $border-size-width $border-size-width
      $border-size;
    top: 25px;
    left: -15px;
    border-color: transparent transparent transparent #a6a6a6;
    border-left-color: #d4d4d4;
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    @media screen and (-ms-high-contrast: active) {
      border-color: transparent transparent transparent #fff;
      border-left-color: #fff;
    }
  }
  &[aria-expanded='true'] {
    &::before {
      $border-size-width: $border-size * 1.2;
      border-color: transparent #646465 transparent transparent;
      border-width: $border-size-width $border-size-width 0 $border-size;
      left: -21px;
      @media screen and (-ms-high-contrast: active) {
        border-color: transparent #fff transparent transparent;
      }
    }
    background-color: rgba(55, 50, 119, 0.12);
    border-radius: 10px 10px 0 0;
    &:hover {
      background-color: rgba(55, 50, 119, 0.12);
      border-radius: 10px 10px 0 0;
      a {
        color: $darkpurple;
      }
    }
  }

  &:hover {
    border-radius: 10px;
    color: lighten($darkpurple, 10%);
    background-color: rgba(55, 50, 119, 0.05);
    a {
      color: $darkpurple;
    }
  }
}

.docs .details {
  padding: 15px 15px 5px;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 20px;
  background-color: rgba(55, 50, 119, 0.05);
  margin-left: 10px;
  margin-top: -10px;
}

@media (min-width: 600px) {
  .docs .feedback {
    width: 75%;
  }

  .docs .hero-videos .video .screen {
    height: 250px;
  }
}

@media (max-width: $screen-md) {
  .docs-navbar-container {
    height: auto;
    position: relative;
    margin-bottom: 20px;
  }
}

@media (min-width: $screen-sm) {
  #docs-navbar,
  #docs-subnavbar {
    font-size: 12px;
    width: 175px;
    margin-left: -15px;
  }

  #small-nav .social-buttons {
    display: none;
  }

  .edit-github {
    a .btn {
      max-width: 70px;
      height: 44px;
      margin-right: 15px;
      margin-top: 20px; //to match h1
    }
    a .btn img {
      display: inline-block;
      width: 20px;
    }
  }

  .docs {
    font-size: 16px;
  }

  .docs .feedback {
    width: 75%;
  }
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  #docs-subnavbar.affix {
    position: fixed;
    top: 70px;
  }
}

@media (min-width: $screen-md) {
  #docs-subnavbar.affix {
    position: fixed;
    top: 70px;
  }
  .docs h1 {
    margin-top: 0;
  }

  .edit-github a .btn {
    margin-top: 0;
  }

  .docs .hero-videos,
  .docs .next-level {
    text-align: center;
  }
}

@media (min-width: $screen-lg) {
  .docs .section {
    height: 225px;
  }
}

.tutorial-next-btn {
  background-color: #373277;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: $white;
  padding: 15px 35px;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  border-radius: 4px;
  line-height: 65px;
  white-space: nowrap;
  margin: 2px;

  &:focus {
    color: white;
    text-decoration-line: unset;
  }

  &:hover {
    background-color: rgba(55, 50, 119, 0.8);
    color: $white;
    text-decoration-line: unset;
  }
}

.tutorial-install-extension-btn {
  background-color: rgba(55, 50, 119, 0.7);
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1.4rem;
  padding: 5px 20px;
  margin-right: 5px;

  &:hover {
    background-color: rgba(55, 50, 119, 1);
    color: $white;
    text-decoration-line: unset;
  }

  &:focus {
    color: white;
    text-decoration-line: unset;
  }
}

.tutorial-feedback-btn {
  background-color: $white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: #373277;
  padding: 15px 35px;
  border-style: solid;
  border-color: #373277;
  border-width: 2px;
  border-radius: 4px;
  line-height: 65px;
  white-space: nowrap;
  margin: 2px;

  &:hover {
    background-color: rgba(241, 226, 255, 0.5);
    color: #373277;
    text-decoration-line: unset;
  }
}

/* below css only for SurveyMonkey pop ups*/
.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  height: 100%;
}

.overlay.visible {
  visibility: visible !important;
  opacity: 1;
  z-index: 2;
}

#surveytitle {
  height: 35px;
  background-color: #373277;
  color: #fff;
  padding-top: 8px;
  padding-left: 20px;
  font-size: 15px;
}

#surveytitle a {
  float: right;
  padding-right: 20px;
  font-weight: bold;
  color: #fff;
}

#surveytitle a:hover {
  text-decoration: none;
}

#surveydiv {
  padding: 20px;
}

#surveydiv iframe {
  width: 420px;
  height: 485px;
  overflow: hidden;
}

#surveypopup .surveypopup {
  visibility: visible;
  width: 460px;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  bottom: 5%;
  left: 35%;
  overflow: hidden;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.35);
}
