/*----- Download Page -----*/
.downloads {
	.nav-tabs {
		a {
			font-weight: bold;
		}
		> li.active > a {
			background-color: whitesmoke;
		}
	}
	.tab-content {
		border: #ddd solid 1px;
		border-top: none;
		margin-bottom: 15px;
		.alt-downloads {
			margin: 0;
			padding: 10px 0 10px;
			background-color: #f5f5f5;
		}
	}

	.insiders-info {
		max-width: 900px;
		margin: auto;
	}

	.download {
		margin: 40px 0 40px;
	}
}
