.download-btns {
	button {
		font-weight: 700;
		font-size: 1.8rem;
		padding: 10px 0;
		margin: 20px 0 5px;
		display: inline-block;
		color: $white;
		cursor: pointer;
		background-color: $accent-primary;
		text-decoration: none;
		width: 280px;
		img {
			position: relative;
			top: -2px;
			margin-right: 10px;
		}
	}

	.linux {
		.left-btn {
			margin-left: 5px;
		}

		button {
			width: 147px;
		}
	}

	small {
		font-size: 1.2rem;
		color: hsla(0, 0%, 100%, 0.9);
		display: block;
	}

	.alts {
		margin-top: 16px;
		a {
			cursor: pointer;
		}
	}
}
