.errors {
	background-color: $darkpurple;
	color: white;

	.container {
		padding-top: 8%;
	}

	h1,
	h2 {
		text-align: center;
		margin: 15px 0;
	}

	.graphic {
		display: block;
		margin: 25px auto 25px auto;
	}

	.graphic.notfound {
		width: 80%;
	}

	.graphic.cloud {
		height: 175px;
	}

	.support {
		text-align: center;
		margin-top: 15%;
	}
	.support a {
		color: white;
		font-size: 20px;
		opacity: 0.65;
		margin: 0 15px;
	}

	.support a:hover {
		opacity: 1;
	}
}

@media (min-width: 400px) {
	.errors .graphic.notfound {
		width: 70%;
	}

	.errors .graphic.cloud {
		height: 275px;
	}
}

@media (min-width: 768px) {
	.errors .graphic {
		margin-top: 0;
		margin-bottom: 50px;
	}

	.errors .graphic.notfound {
		width: 50%;
	}

	.errors .graphic.cloud {
		height: 300px;
	}

	.errors .support {
		margin-top: 100px;
	}
}
