.events {
	/*----- Hero Section -----*/
	.jumbotron {
		overflow: hidden; // Don't let full bleed video put srollbars in browser
		background-color: $header-background;
		color: white;
		padding: 0;

		h1 {
			margin: 0 0 12px 0;
			font-size: 5rem;
		}

		&.home {
			text-align: center;
			overflow: visible;
			position: relative;
			z-index: 1;
			.lead,
			.lead p {
				padding: 0;
				margin: 0;
			}
		}

		h3 {
			font-weight: 300;
			font-size: 1.8rem;
			color: rgba(255, 255, 255, 0.6);
		}

		a {
			text-align: center;
			color: $banner-link-color;
		}

		.screenshot-logo {
			background-image: url("/assets/home/desktop.png");
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
			background-size: 100%;
			background-repeat: no-repeat;
			@media (max-width: $screen-sm-max) {
				max-width: 617px;
				margin: auto;
			}
			@media (min-width: $screen-md) {
				background-size: 617px;
			}
			@media (min-width: $screen-lg) {
				background-size: 750px;
			}
		}
	}
}
