.extensions {
	margin-bottom: 20px;
	margin-right: -7px;
	.gallery-item-card-container {
		float: left;
		padding-left: 7px;
		padding-right: 7px;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-top: 8px;
		text-decoration: none;
		width: 25%;
		@media only screen and (max-width: $screen-xs-max) {
			width: 50%;
		}
		@media only screen and (max-width: $screen-xs) {
			width: 100%;
		}
	}
	.gallery-item-card {
		background-color: #fff;
		border: #dedede solid 1px;
		color: #000;
		font-size: 12px;
		width: 100%;
		height: 210px;
		@media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
			height: 230px;
		}
		border-radius: 0;
		cursor: pointer;
		-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
		position: relative;
		overflow: hidden;
		.icon-cell {
			text-align: center;
			padding: 16px 0;
			> img {
				max-width: 85%;
				height: 72px;
				display: inline-block;
			}
		}
		.core-info-cell {
			padding: 0 10px;
			position: relative;
			.name {
				font-size: 1.4rem;
				font-weight: 600;
				white-space: nowrap;
				overflow: hidden;
				position: relative;
			}
			.installs {
				display: inline;
				float: right;
				margin-right: 5px;
				margin-left: 5px;
			}
			.publisher {
				white-space: nowrap;
				overflow: hidden;
				color: #767676;
				vertical-align: middle;
				position: relative;
			}
			.install-icon {
				display: inline;
				margin-right: 5px;
				margin-top: 4px;
				float: left;
				width: 14px;
				height: 14px;
				background: url("/assets/docs_carousel/item-install-tile.png") no-repeat 0 0;
				@media screen and (-ms-high-contrast: white-on-black) {
					background-image: url("/assets/docs_carousel/item-install-tile-inverted.png");
				}
			}
		}
		.item-details {
			margin-top: 10px;
			padding: 0 10px;
			.description {
				overflow: hidden;
				color: #767676;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				max-height: 40px; //for Firefox to kind of be like webkit's line-clamp
			}
		}
		.stats-and-offer {
			position: relative;
			height: 20px;
			margin-top: 16px;
			.rating {
				position: absolute;
				left: 10px;
			}
			.pricing-tag {
				color: #388e3c;
				margin-top: 20px;
				margin-right: 10px;
				height: 18px;
				font-size: 12px;
				font-weight: bold;
				position: absolute;
				bottom: 2px;
				right: 10px;
			}
		}
	}
}
