/*---- Footer ----*/
// Make footer stick to the bottom of each page

// Medium screen size footer height
$footerheight: 90px; //135px;
$ctaHeight: 124.7px; //200px;

footer {
	background-color: $darkgray;
	font-size: 12px;
	color: white;
	padding: 25px 0;

	#footer-community {
		color: white;
		cursor: pointer;
	}

	.left {
		font-size: 14px;
	}

	.message {
		display: none;
	}

	.twitter-follow-button {
		vertical-align: bottom;
		margin-right: 15px;
		margin-bottom: 10px;
	}

	.github-star-button {
		top: 5px;
		position: relative;
	}

	.github-star-button,
	.twitter-follow-button {
		margin-bottom: 20px;
		display: inline-block;
	}

	.right > * {
		display: inline-block;
		vertical-align: top;
	}

	.links {
		padding: 0;

		li {
			display: inline-block;
			&:not(:last-child) {
				padding-right: 20px;
			}
		}

		a {
			color: white;

			&:hover {
				color: $lightpurple;
				text-decoration: none;
			}
		}
	}
	.copyright {
		margin-left: 30px;

		.logo {
			display: block;
			margin-bottom: 2px;
		}
	}
}

.ctas {
	min-height: $ctaHeight;
	width: 100%;
	position: relative;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	p a {
		color: $banner-link-color;
	}
}

.cta-icon-wrapper {
	display: flex;
	flex-flow: column;
}

// under 767px
@media (max-width: $screen-xs-max) {
	//Larger footer for smaller screen sizes
	$footerheight: 170px;
	$ctaHeight: 461.3px;
	footer {
		height: $footerheight;
	}
	body {
		margin-bottom: $footerheight + $ctaHeight;
	}
	.cta-icon-wrapper {
		display: flex;
		flex-flow: column;
	}
	.ctas {
		min-height: $ctaHeight;
	}
}

// under 380px
@media (max-width: 380px) {
	//Even larger footer for very small screen sizes (e.g. iPhone 4)
	//   $footerheight: 200px;
	$ctaHeight: 461.3px;
	footer {
		height: $footerheight;
	}
	body {
		margin-bottom: $footerheight + $ctaHeight;
	}
	// footer .copyright {
	//   display: block;
	//   margin-left: 0;
	// }
	.ctas {
		min-height: $ctaHeight;
		// min-height: $ctaHeight;
	}
}

// over 992px
@media (min-width: $screen-md) {
	footer {
		.github-star-button,
		.twitter-follow-button {
			margin-bottom: 0;
		}
	}

	footer .right {
		margin-top: 0;
		text-align: right;
	}
}

.microsoft-logo-inverted {
	display: none;
}
@media screen and (-ms-high-contrast: black-on-white) {
	.microsoft-logo {
		display: none;
	}
	.microsoft-logo-inverted {
		display: inline;
	}
}
