/*----- Nav -----*/

iframe[name='google_conversion_frame'] {
  position: absolute;
}

.navbar-fixed-container {
  background-color: $header-background; /* Same as jumbotron */
  height: 50px;
}

.navbar {
  font-size: 16px;
  @include border-radius(0);
}

#nav-download {
  .download-icon {
    display: inline;
  }
  .download-icon-inverted {
    display: none;
  }

  @media screen and (-ms-high-contrast: black-on-white) {
    .download-icon {
      display: none;
    }
    .download-icon-inverted {
      display: inline;
    }
  }
}

.navbar .navbar-brand {
  position: relative;
  $brand-logo-width: 24px;
  background-size: $brand-logo-width $brand-logo-width;
  background-repeat: no-repeat;
  background-position: left 50%;
  //padding-left: ($brand-logo-width + 12px);
  font-size: 20px;
  letter-spacing: -0.04rem;
  color: white;
  min-height: 50px;
  padding-top: 15px;
  line-height: 20px;
  @media (max-width: 320px) {
    $brand-logo-width: (15px * 1.2);
    font-size: 15px;
    background-size: $brand-logo-width;
    padding-left: ($brand-logo-width + 12px);
  }
}

.navbar-inverse {
  background: $header-background;
  border: none;
  margin-bottom: 0;
}

.navbar-inverse.navbar-fixed-top {
  // Sticky Nav Bar
  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
    transition: all 0.2s ease-out;
  }
  &.affix::before {
    opacity: 1;
  }
}

.navbar-inverse.home {
  width: 100%;
}

@media (min-width: $screen-sm) {
  .navbar-nav > li > a {
    // line-height is 20px here
    padding-top: 17px;
    padding-bottom: 13px;
  }
}

.navbar li > a {
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.navbar-right {
  height: 50px; //prevents absolute positioning problems
}

.navbar-brand {
    padding-left: 0px;
  }

.navbar-left li > a {
  opacity: 0.6;
  @include transition(opacity 0.08s ease-in);
  @media screen and (-ms-high-contrast: active) {
    opacity: 1;
  }
}

.navbar-left li > a:hover {
  opacity: 1;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  opacity: 1;
  background: none;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar .navbar-right {
  display: block;
}

.navbar {
    .search-icon {
      display: inline;
    }

    .search-btn {

      .search-icon-inverted {
        display: none;
      }

    }

    @media screen and (-ms-high-contrast: black-on-white) {
      .search-icon {
        display: none;
      }

      .search-icon-inverted {
        display: inline;
      }
    }
}

.navbar .navbar-right .link-button {
  color: $white;
  font-size: 16px;
  line-height: 100%;
  padding: 17px 20px;
  height: 50px;
  @extend .download-button;
  @media (min-width: $screen-md) {
    img {
      display: block;
      position: absolute;
      left: 15px;
    }
    padding-left: 40px;
  }
}

.navbar-collapse {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  border: none;
}

.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(lighten($darkpurple, 20%), 0.6);
}

#skip-to-content {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: $white;
  font-size: 16px;
  padding: 8px 10px;
  margin-top: 4px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 180px;
  left: 0;
  right: 0;
  margin: auto;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
  text-align: center;
  top: -38px;
  &:focus {
    opacity: 1;
    transition: opacity 0.2s;
    top: initial;
  }
}

/*----- Updates Banner -----*/
.updates-banner {
  background-color: $banner-background;
  color: $banner-text;
  font-size: 1.6rem;
  position: relative;
  a {
    color: $banner-link-color;
    &:visited {
      color: $visited-link-color;
    }
  }
}

.updates-banner .container {
  padding: 0;
}

.updates-banner .container p {
  text-align: center;
  margin: 1.1rem 0;
  padding-right: 4.2rem;
  padding-left: 4.2rem;
}

.updates-banner .dismiss-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4.2rem;
  cursor: pointer;
}

.updates-banner .dismiss-btn {
  opacity: 0.5;
  border: 2px solid transparent;
  cursor: pointer;
  outline: none;
}

.updates-banner .dismiss-btn:hover {
  opacity: 1;
}

.updates-banner .dismiss-btn:focus {
  opacity: 0.75;
  border: 2px solid white;
}

.updates-banner .dismiss-btn .glyph-icon::after {
  content: '\00d7';
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin-left: 10px;
}

.updates-banner.home p {
  padding: 0 12%;
}

.updates-banner.home .dismiss-btn {
  display: none;
}

@media (max-width: $screen-xs-max) {
  .navbar.home > .container {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar .navbar-brand {
    margin-left: 15px;
  }

  .navbar-inverse .navbar-nav > li > a {
    opacity: 1;
  }
}
