.home {
  /*----- Hero Section -----*/

  #main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .jumbotron {
    overflow: hidden; // Don't let full bleed video put srollbars in browser
    background-color: $header-background;
    color: white;
    padding: 0;

    &.home {
      text-align: center;
      overflow: visible;
      position: relative;
      z-index: 1;
      .lead,
      .lead p {
        padding: 0;
      }
    }
    @media (min-width: $screen-sm) {
      .row:first-child {
        height: 200px; //511px;
      }
      .copy {
        @include vertical-center(0, -50%);
        top: 45%; //approximately puts download button in middle of hero image
      }
    }

    h1 {
      font-size: 5rem;
      strong {
        display: block;
        font-weight: normal;
      }
    }

    p {
      font-weight: 300;
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.6);
    }

    .subtext {
      font-size: 1.4rem;
      margin-bottom: 0;
      background: $banner-background;
      @include border-radius(8px);
      padding: 8px 8px;
      margin-top: 1.5rem;
      position: relative;
      &::after {
        $triangle-size: 1.4rem;
        content: "";
        width: $triangle-size;
        height: $triangle-size;
        display: block;
        @include rotate(45deg);
        background: $banner-background; //same as parent's subtext background but pre-composed to overlay right
        position: absolute;
        top: $triangle-size * -0.5;
        $width-of-download-dropdown-button: 4.3rem;
        right: -(0.5 * ($triangle-size - $width-of-download-dropdown-button));
      }
    }

    .terms {
      font-size: 12px;
      margin-top: 1rem;
      display: inline-block;
      width: 100%;
    }

    &.home {
      margin-bottom: 0;

      a {
        color: $banner-link-color;
      }

      /* Download for your OS */
      .download-hero {
        padding: 0;
        max-width: 27.7rem; //to match width of text above
        position: relative;
        &.linux {
          max-width: 32.7rem; //to accomodate 2 download buttons for linux
        }
        margin: auto;

        .primary-buttons {
          width: calc(100% - 45px);
        }

        $button-spacing: 2px;

        .download-dropdown {
          width: 45px - $button-spacing;
          padding-left: 10px;
          padding-right: 10px;
          position: absolute;
          right: 0;
          top: 0;
          //   background-image: url(/assets/icons/chevronDown.svg);
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: 50%;
          display: none; // Wait until OS is detected; then display
        }

        @media screen and (-ms-high-contrast: black-on-white) {
          .download-dropdown {
            // background-image: url(/assets/icons/chevronDown_black.svg);
          }
        }

        .primary-buttons > .dlink,
        .primary-buttons > .x64 .dlink,
        .primary-buttons > .x86 .dlink,
        .primary-buttons > .linux,
        .primary-buttons > .link-button.other-os {
          display: none; // Wait until OS is detected; then display
          width: 100%;
        }

        .link-button {
          color: white;
          margin: 2.5rem 0 0 0;
          background-color: $accent-primary;
          height: 6.5rem;
          img {
            top: 0;
          }

          &:hover,
          &:active,
          &:focus {
            background-color: darken($accent-primary, 4%);
          }
        }

        &.win .primary-buttons .dlink[data-os="win"] {
          display: inline-block;
        }
        &.osx .primary-buttons .dlink[data-os="osx"] {
          display: inline-block;
        }
        &.linux .primary-buttons .linux {
          display: block;
          .flex-box {
            display: flex;
          }
          .link-button {
            width: 48%;
            flex: 1;
            &:not(:last-child) {
              margin-right: $button-spacing;
            }
          }
        }

        &.win,
        &.osx,
        &.linux {
          .download-dropdown {
            display: block; /* Display at same time Download button for user's OS displays */
          }
        }

        &.win.osx.linux .primary-buttons {
          .other-os {
            display: inline-block;
          }
          .dlink,
          .linux {
            display: none;
          }
        }

        .button-icon {
          $horizontal-margin: 16px;
          margin-left: $horizontal-margin;
          margin-right: $horizontal-margin;
        }

        #download-matrix {
          white-space: nowrap;
          background: #f2f2f2;
          border: 2px $accent-primary solid;
          position: absolute;
          z-index: 1;
          -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
          -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.33);
          display: none;

          $os-group-padding: 1rem;

          color: black;

          a {
            color: $link-color;
          }

          table {
            width: 100%;

            #linux-32-bit-table {
              display: none;
            }

            #windows-32-bit-table {
              display: none;
            }
            $iconsize: 16px;

            .download-stable-icon,
            .download-insiders-icon {
              height: $iconsize;
              width: $iconsize;
            }

            .download-stable-icon-accessible,
            .download-insiders-icon-accessible {
              display: none;
              height: $iconsize;
              width: $iconsize;
            }

            @media screen and (-ms-high-contrast: white-on-black) {
              .download-stable-icon-accessible,
              .download-insiders-icon-accessible {
                display: inline;
              }
              .download-stable-icon,
              .download-insiders-icon {
                display: none;
              }
            }

            .insiders-column {
              background: #e3e3e3;
            }
            td {
              vertical-align: top;
            }
            .build-header {
              padding-left: 8px;
              padding-right: 8px;
              font-weight: 300;
              font-size: 1.6rem;
              text-align: center;
              padding-top: $os-group-padding;
            }
            .os-group {
              > tr:first-child > td {
                padding-top: $os-group-padding;
              }
              > tr:last-child > td {
                padding-bottom: $os-group-padding;
              }
              &:not(:first-of-type) {
                border-top: 1px solid rgba(#373475, 0.25);
              }
            }
            .os {
              font-weight: 700;
              font-size: 1.5rem;
              text-align: left;
              padding-left: $os-group-padding;
              padding-right: $os-group-padding;
              .linux-32-bit {
                display: block;
                font-size: 1rem;
                color: $blue;
                cursor: pointer;
              }
              .windows-32-bit {
                display: block;
                font-size: 1rem;
                color: $blue;
                cursor: pointer;
              }
            }
            .download-type {
              text-align: left;
            }

            #other-downloads {
              border-top: 1px solid rgba(55, 52, 117, 0.25);

              td {
                padding-top: 8px;
                padding-bottom: 8px;
                font-size: 14px;
              }
            }
          }
        }

        .terms {
          padding: 4px 8px;
          color: hsla(0, 0%, 100%, 0.6);
        }
      }

      .framed-video-container {
        position: relative;
        width: 100%; //required safari
        height: 100%; //required safari
        margin-top: 28px; //top alignment with the left column header
      }

      .homepage-hero-video-container {
        min-height: 400px;
      }

      #homepage-hero-video {
        z-index: 30;
        position: absolute;
        left: 50%;
      }
    }

    .hero-img {
      //   background-image: url('/assets/home/home-screenshot-mac.png');
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      background-size: 100%;
      background-repeat: no-repeat;
      @media (max-width: $screen-sm-max) {
        max-width: 617px;
        margin: auto;
      }
      @media (min-width: $screen-md) {
        background-size: 617px;
      }
      @media (min-width: $screen-lg) {
        background-size: 750px;
      }
    }
  }

  .value-props {
    font-size: 2rem;
    font-family: $black;
    text-align: center;
    .value-prop-icon {
      //   background-image: url('/assets/icons/valueprops-top-sprite.svg');
      background-repeat: no-repeat;
      width: 5rem;
      height: 5rem;
      background-size: 20.6rem 10.4rem;
      margin: auto;
      margin-bottom: 1rem;
      &.intellisense {
        background-position: 0 0;
      }
      &.debugging {
        background-position: -5.2rem 0;
      }
      &.git {
        background-position: -10.4rem 0;
      }
      &.extensions-icon {
        background-position: -15.6rem 0;
      }
    }
    .value-prop {
      padding: 2rem 0;
      width: 100%;
      height: 100%;
      display: block;
      color: $text-color;
      &:hover {
        color: $black;
        background: $lightgray;
        text-decoration: none;
        .value-prop-icon {
          &.intellisense {
            background-position: 0 -5.3rem;
          }
          &.debugging {
            background-position: -5.2rem -5.3rem;
          }
          &.git {
            background-position: -10.4rem -5.3rem;
          }
          &.extensions-icon {
            background-position: -15.6rem -5.3rem;
          }
        }
      }
    }
  }

  $imageWidth: 617;
  &.osx .jumbotron .hero-img {
    $imageHeight: 467;
    padding-bottom: ($imageHeight / $imageWidth * 100%);
  }
  &.win .jumbotron .hero-img {
    $imageHeight: 420;
    padding-bottom: ($imageHeight / $imageWidth * 100%);
  }
  &.linux .jumbotron .hero-img {
    $imageHeight: 510;
    padding-bottom: ($imageHeight / $imageWidth * 100%);
  }

  @media only screen and (min-width: $screen-lg) {
    $imageWidth: 750;
    &.osx .jumbotron .hero-img {
      $imageHeight: 485;
      padding-bottom: ($imageHeight / $imageWidth * 100%);
    }
    &.win .jumbotron .hero-img {
      $imageHeight: 590;
      padding-bottom: ($imageHeight / $imageWidth * 100%);
    }
    &.linux .jumbotron .hero-img {
      $imageHeight: 510;
      padding-bottom: ($imageHeight / $imageWidth * 100%);
    }
  }

  &.osx.win.linux {
    // If the OS is not detected (we have all the OS classes) we will show only Mac.
    .hero-img.linux {
      display: block;
    }
    .hero-img.linux,
    .hero-img.win {
      display: none;
    }
  }

  //show no laptop image until we know what the OS is
  .homepage-hero-video-overlay {
    display: none;
  }

  &.osx {
    .homepage-hero-video-overlay.osx {
      display: block;
      width: 100%;
      position: absolute;
    }
    #homepage-hero-video {
      width: 67.5%;
      @include vertical-center(-50%, 8.25%);
      display: block !important; // avoid flash of poster frame while loading
    }
  }

  &.win,
  .linux {
    .homepage-hero-video-overlay.win {
      display: block;
      width: 100%;
      position: absolute;
    }
    #homepage-hero-video {
      width: 74%;
      @include vertical-center(-50%, 6.5%);
      display: block !important; // avoid flash of poster frame while loading
    }
  }

  /*---- Swimlanes -----*/
  .swimlane {
    h2 {
      margin-bottom: 3.5rem;
    }
    p {
      line-height: 4rem;
      font-size: 1.8rem;
    }
    &.hundreds-extensions {
      margin: 0;
    }
  }

  /*----- Extensions -----*/
  .hundreds-extensions {
    margin-top: 100px;

    .hundreds-extensions-img {
      width: 100%;
      display: block;
      // margin-top: 28px;
      padding: 0;
      transition: transform 0.25s;
      &:hover {
        transform: scale(1.05);
        transition: transform 0.75s;
      }
    }
  }

  /*----- Getting Started -----*/
  .getting-started {
    padding: 50px 0;

    .vscode-for {
      height: 20.5rem; //5 times the height of the list
      h2 {
        text-align: right;
        margin-top: -1.6rem; //aligns it vertically centered to the list of langugages
        position: relative;
        top: 50%;
      }
    }

    .mask {
      background: linear-gradient(
        to bottom,
        rgba(245, 245, 245, 1),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(245, 245, 245, 1)
      );
      z-index: 990;
      height: 100%;
      width: 100%;
      position: absolute;
      left: -20px;
      @media screen and (-ms-high-contrast: active) {
        background: transparent;
      }
    }

    .home-languages-list-parent {
      height: 20.5rem; //5 times the height of the list
    }
    .supported-languages-list {
      height: 100%;
      overflow: hidden;
      position: relative;
      > ul {
        height: 100%;
        width: 100%;
        box-sizing: content-box;
        padding-right: 20px;
        overflow-y: scroll;
        padding-left: 0;
        list-style: none;
        margin-bottom: 0; //fixes scroll alignment on last item
        li {
          font-size: 3rem;
        }
      }
    }

    .caption {
      text-align: center;
      margin-top: 20px;
      .link-button {
        background-color: $accent-primary;
        color: white;
        margin: 20px 0;

        &:hover {
          background-color: darken($accent-primary, 4%);
        }
      }
    }
  }

  .terms p {
    font-size: 1.4rem;
  }

  @media (max-width: 600px) {
    .getting-started .logos {
      display: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    .swimlane .hero-img {
      width: 60%;
      margin: auto;
      display: block;
    }

    .hundreds-extensions .hundreds-extensions-img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    .getting-started {
      .vscode-for h2,
      .supported-languages-list {
        text-align: center;
      }
      .vscode-for {
        height: initial;
        h2 {
          top: initial;
          margin-top: initial;
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .jumbotron.home {
      text-align: center;
      .download-hero {
        max-width: 293px;
        margin: auto;
      }
      .value-props {
        display: inline-block;
        text-align: left;
      }
    }
  }

  @media (min-width: $screen-sm) {
    .swimlane .hero-img {
      margin-top: 28px;
      width: 100%;
    }
  }

  @media (max-width: $screen-md-max) {
    .jumbotron.home {
      .download-hero {
        width: 100%;
      }
    }
  }

  @media (min-width: $screen-lg) {
    h1 {
      font-size: 4.8rem;
    }
    .themes .header {
      padding-top: 10%;
    }
  }

  .learn-more {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }
}
