
.in-your-face {
    overflow: hidden; // Don't let full bleed video put srollbarsin browser
    background-color: $header-background;
    color: white;
    padding: 0;
    flex-grow: 1;
    a {
      color: $banner-link-color;
    }
    &.home {
      text-align: center;
      overflow: visible;
      position: relative;
      z-index: 1;
      .lead,
      .lead p {
        padding: 0;
        margin: 0;
      }
    }
    @media (min-width: $screen-md) {
      .row:first-child {
        height: 450px;
      }
      .copy {
        @include vertical-center(0, -50%);
        top: 45%;
      }
    }
    .lead {
      font-size: 5rem;
      strong {
        display: block;
        font-weight: normal;
      }
    }
    p {
      font-weight: 300;
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.6);
    }
    .subtext {
      font-size: 1.4rem;
      margin-bottom: 0;
      background: $banner-background;
      @include border-radius(8px);
      padding: 8px 8px;
      margin-top: 1.5rem;
      position: relative;
      min-height: 180px;
      &::after {
        $triangle-size: 1.4rem;
        content: '';
        width: $triangle-size;
        height: $triangle-size;
        display: block;
        @include rotate(45deg);
        background: $banner-background; //same as parent's subtextbackground but pre-composed to overlay right
        position: absolute;
        top: $triangle-size * -0.5;
        $width-of-download-dropdown-button: 4.3rem;
        right: -(0.5 * ($triangle-size -$width-of-download-dropdown-button));
      }
    }
    .terms {
      font-size: 12px;
      margin-top: 1rem;
      display: inline-block;
      width: 100%;
    }
    &.home {
      margin-bottom: 0;
      a {
        color: $banner-link-color;
      }
    }
  }

  /*---- Swimlanes -----*/
  .swimlane {
    h2 {
      margin-bottom: 3.5rem;
    }
    p {
      line-height: 4rem;
      font-size: 1.8rem;
    }
    &.hundreds-extensions {
      margin: 0;
    }
  }

  .terms p {
    font-size: 1.4rem;
  }
  @media (max-width: 600px) {
    .getting-started .logos {
      display: none;
    }
  }
  @media (max-width: $screen-xs-max) {
    .swimlane .screenshot {
      width: 60%;
      margin: auto;
      display: block;
    }
    .hundreds-extensions .hundreds-extensions-img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .getting-started {
      .vscode-for h2,
      .supported-languages-list {
        text-align: center;
      }
      .vscode-for {
        height: initial;
        h2 {
          top: initial;
          margin-top: initial;
          margin-bottom: 40px;
        }
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .in-your-face.home {
      text-align: center;
      .download-hero {
        max-width: 293px;
        margin: auto;
      }
      .value-props {
        display: inline-block;
        text-align: left;
      }
    }
  }
  @media (min-width: $screen-sm) {
    .swimlane .screenshot {
      margin-top: 28px;
      width: 100%;
    }
  }
  @media (max-width: $screen-md-max) {
    .in-your-face.home {
      .download-hero {
        width: 100%;
      }
    }
  }
  @media (min-width: $screen-lg) {
    .lead {
      font-size: 4.8rem;
    }
    .themes .header {
      padding-top: 10%;
    }
  }
  .learn-more {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }
