.insiders {
	.swimlane {
		//padding: 2.5rem 0 2.5rem;
		&:first-child h1:first-child {
			margin-top: 0;
		}
	}
	.terms {
		margin-top: 4em;
	}

	.value-props {
		text-align: center;

		ul {
			list-style: none;
		}

		.image {
			width: 12.8rem;
			height: 12.8rem;
			border-radius: 50%;
			margin: auto;
			background-size: 75%;
			background-position: 50%;
			background-repeat: no-repeat;
			//border: 2px solid;
			&.earlyadopters {
				border-color: $lightteal;
				background-image: url("/insiders/faster-updates.svg");
			}
			&.nightlyupdates {
				border-color: $blue;
				background-image: url("/insiders/nightly-downloads.svg");
			}
			&.sidebyside {
				border-color: $insiders-green;
				background-image: url("/insiders/side-by-side.svg");
			}
		}
	}

	.download-btn {
		margin-top: 1em;
	}
}
