.node-home {
	@media (max-width: $screen-xs-max) {
		.swimlane .screenshot {
			width: 60%;
			margin: auto;
			display: block;
		}
	}

	@media (min-width: $screen-sm) and (max-width: $screen-lg) {
		.swimlane .container .row .col-sm-4 .screenshot {
			width: 100%;
			margin: auto;
			display: block;
		}
	}
}
.node-home-d {
	/*----- Hero Section -----*/
	@media (min-width: $screen-md) {
		.container .row.main-header {
			height: 350px;
			margin-top: 20px;
		}
	}
}

$imageWidth: 617;
body.osx #node-screenshot .screenshot {
	background-image: url("/landing/node-mac.png");
	$imageHeight: 447;
	padding-bottom: ($imageHeight / $imageWidth * 100%);
}
body.win #node-screenshot .screenshot {
	background-image: url("/landing/node-win.png");
	$imageHeight: 446;
	padding-bottom: ($imageHeight / $imageWidth * 100%);
}
body.linux #node-screenshot .screenshot {
	background-image: url("/landing/node-linux.png");
	$imageHeight: 520;
	padding-bottom: ($imageHeight / $imageWidth * 100%);
}

// Smaller Retina screenshots
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi) {
	body.osx #node-screenshot .screenshot {
		background-image: url("/landing/node-mac-2x.png");
	}
}

@media only screen and (min-width: $screen-lg) {
	$imageWidth: 750;
	body.osx #node-screenshot .screenshot {
		background-image: url("/landing/node-mac-lg.png");
		$imageHeight: 447;
		padding-bottom: ($imageHeight / $imageWidth * 100%);
	}
	body.win #node-screenshot .screenshot {
		background-image: url("/landing/node-win-lg.png");
		$imageHeight: 446;
		padding-bottom: ($imageHeight / $imageWidth * 100%);
	}
	body.linux #node-screenshot .screenshot {
		background-image: url("/landing/node-linux-lg.png");
		$imageHeight: 520;
		padding-bottom: ($imageHeight / $imageWidth * 100%);
	}
	// Large Retina screenshots
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi) {
		body.osx #node-screenshot .screenshot {
			background-image: url("/landing/node-mac-lg-2x.png");
		}
	}
}

@media only screen and (max-width: $screen-lg) {
	.node-home-d {
		#node-screenshot {
			display: none;
		}
	}
}

#node-screenshot {
	margin-top: 0px;
	margin-bottom: 35px;
}
