.learn {
  font-size: 16px;

  #main-content{
    display: flex;
    flex-direction: column;

    /*----- Hero Section -----*/
    .jumbotron {
      overflow: hidden; // Don't let full bleed video put srollbars in browser
      background-color: $header-background;
      color: white;
      margin: 0;
      padding: 60px 0;

      text-align: center;
      overflow: visible;
      position: relative;
      z-index: 1;

      h1 {
        margin: 0 0 12px 0;
        font-size: 5rem;
      }

      .lead {
        padding: 0 152px;
        @media only screen and (max-width: $screen-xs-max) {
          font-size: 2rem;
          padding: 0 40px;
        }
      }

      .link-button {
        color: white;
        background-color: $accent-primary;
        &:hover,
        &:active,
        &:focus {
          background-color: darken($accent-primary, 4%);
        }

        &:first-of-type {
          margin-right: 16px;
        }
      }

    }

    .row {
      padding: 40px 0;

      h2{
        text-align: center;
        margin: 0 0 8px 0;
        @media only screen and (max-width: $screen-xs-max) {
          font-size: 3.2rem;
        }
      }

      .subtitle {
        text-align: center;
      }
    }

    #code-features {
      list-style: none;
      margin: 24px 0 0 0;

      li {
        text-align: center;

        @media only screen and (max-width: $screen-xs-max) {
          margin-top: 40px;
        }

        svg {
          width: 56px;
          height: auto;

          * {
            fill: $accent-primary;
          }
        }
      }
    }

    #videos, #extensions,#code-highlight {
      list-style: none;
      margin: 24px 0 0 0;

      .title {
        margin: 4px 0;
      }

      @media only screen and (max-width: $screen-xs-max) {
        li {
          margin-top: 40px;
        }
      }

      iframe {
        width: 100%;
        min-height: 200px;

        @media only screen and (max-width: $screen-xs-max) {
          min-height: 300px;
        }
      }


    }

    #extensions {

      display: flex;
      align-items: center;

      li {
        height: 100%;
      }

      img {
        width: 40px;
        height: auto;
        margin-right: 12px;
      }

      p {
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    #code-highlight {

      li {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        a {
          width: 100%;
          display: flex;
          align-items: center;
          // color: $text-color;
          &:hover{
            color: $link-color
          }
        }
      }



      p {
        margin: 0;
      }

      svg {
        width: 32px;
        height: auto;
        margin-right: 12px;

        * {
          // fill: $accent-primary;
          fill: $text-color;
        }
      }
    }



    .quote {
      background-color: #f5f5f5;
    }

  }
}
