@mixin border-radius($args) {
	-webkit-border-radius: $args;
	-moz-border-radius: $args;
	-o-border-radius: $args;
	border-radius: $args;
}

@mixin box-shadow($args) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	-o-box-shadow: $args;
	box-shadow: $args;
}

@mixin animation($args) {
	-webkit-animation: $args;
	-moz-animation: $args;
	-o-animation: $args;
	animation: $args;
}

@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transition-duration($args) {
	-webkit-transition-duration: $args;
	-moz-transition-duration: $args;
	-o-transition-duration: $args;
	transition-duration: $args;
}

@mixin vertical-center($x, $y) {
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin rotate($x) {
	-webkit-transform: rotate($x);
	-ms-transform: rotate($x);
	transform: rotate($x);
}
