body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.jumbotron.home {
  flex-grow: 1;
}
