/*----- Search Page ----*/
.navbar-header .search,
.navbar-header .search-btn,
.navbar-right .search,
.navbar-right .search-btn {
	display: none;
}

// All search forms (including search page and global nav bar)
.search .search-form {
	margin: 20px 0;

	.input-group {
		width: 100%;

		.form-control {
			border-radius: 4px;
			padding-right: 30px;
			width: 183px;
		}

		button {
			padding: 6px 10px;
			background-color: transparent;

			&:hover {
				color: $blue;
			}

			&:active {
				-webkit-box-shadow: none !important;
				box-shadow: none !important;
			}
		}

		.search-icon {
			display: inline;
		}
		.search-icon-inverted {
			display: none;
		}
		@media screen and (-ms-high-contrast: black-on-white) {
			.search-icon {
				display: none;
			}
			.search-icon-inverted {
				display: inline;
			}
		}
	}

	.input-group-btn {
		position: absolute;
		width: 36px;
		z-index: 5;
	}
}

// Navbar search form
.nav .search .search-form {
	margin: 0;

	.form-control {
		background: rgba(255, 255, 255, 0.08);
		&:hover {
			outline: 1px solid rgba(255, 255, 255, 0.2);
			outline-offset: -1px;
			background: rgba(255, 255, 255, 0.18);
		}
		&:focus,
		&:active {
			outline: 1px solid rgba(255, 255, 255, 0.5);
			outline-offset: -1px;
			box-shadow: none;
		}
		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 1000px #5b5790 inset; //hack to fix Chrome autofill
			padding-left: 15px; //matches right padding since icon disappears
			-webkit-text-fill-color: white !important;
			padding: 6px 15px 6px 40px;
		}
		border: none;
		height: 50px;
		padding: 6px 15px 6px 40px;
		border-radius: 0;
		color: white;

		$placeholder-color: rgba(255, 255, 255, 0.8);
		&::-webkit-input-placeholder {
			color: $placeholder-color;
			font-family: $default-font;
			font-weight: 300;
		}
		&:-moz-placeholder {
			color: $placeholder-color;
			font-family: $default-font;
			font-weight: 300;
		}
		&:-ms-input-placeholder {
			color: $placeholder-color;
			font-family: $default-font;
			font-weight: 300;
		}
		&::-ms-input-placeholder {
			color: $placeholder-color;
			font-family: $default-font;
			font-weight: 300;
		}

		@include transition(opacity 0.08s ease-in);
	}
	@media screen and (-ms-high-contrast: white-on-black) {
		height: 30px;
	}
	@media screen and (-ms-high-contrast: white-on-black) {
		border: 2px solid white;
	}

	@media screen and (-ms-high-contrast: black-on-white) {
		border: 2px solid black;
	}

	&:hover .form-control,
	.form-control:focus {
		opacity: 1;
	}

	.input-group-btn {
		width: 28px;
		left: 8px;
	}

	.input-group button {
		padding: 13px 6px 17px 6px;
		border: 0;
	}
}

.navbar-header .search {
	position: relative;
	float: right;
	width: 150px;
}

.navbar-header .search-btn {
	position: relative;
	float: right;
	margin-top: 8px;
	border: none;
}

.navbar .search-btn {
	color: $white;
	height: 32px;
	padding: 17px 10px;
	height: 50px;
	margin-right: 5px;
	opacity: 0.5;
	border: none;
	@include transition(opacity 0.08s ease-in);
	img {
		display: block;
	}

	&:focus {
		background-color: transparent;
		opacity: 1;
	}

	&:hover {
		opacity: 1;
	}

	&:active {
		@include box-shadow(none !important);
	}
}

// Search page search form
.body-content.search .search-form {
	.input-group {
		max-width: 300px;
	}
	.form-control {
		padding-right: 34px;
		width: 100%;
	}
	button {
		padding: 6px 5px;
	}
	.input-group-btn {
		right: 7px;
		width: 28px;
	}
}

.search .count {
	font-size: 18px;
}

.search .search-results {
	padding: 0;
	margin: 20px 0;
	list-style: none;

	.result {
		margin-bottom: 30px;

		b {
			background-color: rgba($blue, 0.15);
		}

		h3 {
			font-family: $default-font;
			font-weight: 600;
			font-size: 2.4rem;
			text-overflow: ellipsis;
			margin-top: 0;
		}
	}

	.snippet {
		margin-top: 10px;
	}
}

@media (min-width: $screen-xs) {
	.navbar-left .search {
		display: none;
	}
}

@media (min-width: $screen-xs) and (max-width: 599px) {
	.navbar-header .search-btn {
		display: block;
	}
}

@media (min-width: 600px) and (max-width: $screen-xs-max) {
	.navbar-header .search {
		display: block;
	}
}

@media (min-width: $screen-sm) {
	.navbar-right .search-small {
		display: block;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	.navbar-right .search-btn {
		display: block;
	}
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.navbar-right .search {
		display: none;
	}
	.navbar-right .search-btn {
		display: block;
	}
}

@media (min-width: $screen-lg) {
	.navbar-right .search {
		display: block;
	}

	.navbar-right .search-small {
		display: none;
	}
}
