.connect-widget {
	margin-top: 15px;
	ul {
		list-style: none;
		padding-left: 0;
	}
}

.connect-links {
	li {
		margin-top: 0.8rem;
	}
	a {
		display: flex;
		align-items: center;
	}
	a img {
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-right: 1rem;
	}
}
