.social-proof {
	> .container {
		@media (max-width: $screen-sm-max) {
			$padding: 6rem;
			padding-left: $padding;
			padding-right: $padding;
		}
	}

	// Carousel
	.carousel {
		background-color: transparent;
	}
	.carousel-control {
		background: transparent;
		width: 5%;
		.glyphicon {
			margin-top: -37px;
			color: darken(white, 20%);
			text-shadow: initial;
		}
		&:focus {
			.glyphicon {
				outline-style: auto;
				outline-color: black;
			}
		}
		&:hover .glyphicon {
			color: darken(white, 40%);
		}
		@media (min-width: $screen-sm) {
			&.left {
				.glyphicon {
					margin-left: -4rem;
				}
			}
			&.right {
				.glyphicon {
					margin-right: -6rem;
				}
			}
		}
		@media (max-width: $screen-xs-max) {
			.glyphicon {
				//prevent bounciness on controls when tweets are unevenly high for mobile
				margin-top: initial;
				top: 180px;
			}
		}
	}

	// Slides
	$profile-image-size: 7.2rem;
	$tweet-padding: 1rem;
	.container {
		padding-top: 15px;
	}
	.tweets > div {
		padding-top: $tweet-padding;
		padding-bottom: $tweet-padding;
		min-height: 85px; // for minimum equal tweet height
		@media (min-width: $screen-md) {
			&:not(:last-child) {
				border-right: darken(white, 5%) solid 1px;
			}
			flex-basis: 0; //Fix for IE and Safari
		}
		&::after {
			background-image: url("/assets/images/firststart-sidebar-sprite.svg");
			content: "";
			width: 1.6rem;
			height: 1.8rem;
			background-size: 8rem 1.6rem;
			background-repeat: no-repeat;
			position: absolute;
			right: 1.5rem;
			top: 1.6rem;
			opacity: 0.2;
			background-position: 50% 50%;
		}
	}
	.profile-image {
		width: $profile-image-size;
		height: $profile-image-size;
		background-size: 100%;
		background-position: 50% 25%;
		border-radius: 50%;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
		background-image: url("");
		position: absolute;
	}
	.text-content {
		padding-left: $profile-image-size + $tweet-padding;
		padding-top: 5px;
	}
	.attribution {
		color: black;
		&:hover {
			text-decoration: none;
			color: #0072be;
		}
	}
	.name {
		font-size: 1.4rem;
		font-weight: 700;
	}
	.handle {
		font-size: 1.2rem;
		color: lighten(black, 43);
		@media (max-width: $screen-md-max) {
			// Wrap twitter handle on small screen sizes
			display: block;
		}
	}
	.tweet-body {
		font-weight: 300;
		font-size: 1.8rem;

		$line-height: 2.4rem;
		line-height: $line-height;
		@media (max-width: $screen-xs-max) {
			$min-lines: 3;
			min-height: $min-lines * $line-height;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			$min-lines: 2;
			min-height: $min-lines * $line-height;
		}
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			$min-lines: 7;
			min-height: $min-lines * $line-height;
		}
		@media (min-width: $screen-lg) {
			$min-lines: 5;
			min-height: $min-lines * $line-height;
		}
	}
}
