//------------------------------------
//       Responsive Type Ramp
//------------------------------------

// Variables

$default-font: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;

* {
	font-family: $default-font;
}

code,
kbd,
pre,
samp,
code * {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
}

html {
	font-size: 10px;
}
@media (max-width: $screen-xs-max) {
	html {
		font-size: 8.5px;
	}
}
@media (min-width: $screen-sm-min) {
	html {
		font-size: 9px;
	}
}
@media (min-width: $screen-md-min) {
	html {
		font-size: 9.5px;
	}
}
@media (min-width: $screen-lg-min) {
	html {
		font-size: 10px;
	}
}

//------------------------------------
//              #FONTS
//------------------------------------

/**
 * Segoe UI Font Family
 */

/**
 * Segoe UI Light
 */
@font-face {
	font-family: "Segoe UI";
	src: url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.eot"),
		/* IE9 compat modes */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.eot?#iefix")
			format("embedded-opentype"); /* IE6-IE8 */

	src: local("Segoe UI Light"),
		url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2")
			format("woff2"),
		/* Super modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.svg#web")
			format("svg"); /* Legacy iOS */

	font-weight: 200;
}

/**
 * Segoe UI Semilight
 */
@font-face {
	font-family: "Segoe UI";
	src: url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.eot"),
		/* IE9 compat modes */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.eot?#iefix")
			format("embedded-opentype"); /* IE6-IE8 */

	src: local("Segoe UI Semilight"),
		/* Check local copy */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2")
			format("woff2"),
		/* Super modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.svg#web")
			format("svg"); /* Legacy iOS */

	font-weight: 300;
}

/**
 * Segoe UI Normal
 */

@font-face {
	font-family: "Segoe UI";

	src: url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot"),
		/* IE9 compat modes */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.eot?#iefix")
			format("embedded-opentype"); /* IE6-IE8 */

	src: local("Segoe UI"),
		/* Check local copy */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.svg#web")
			format("svg"); /* Legacy iOS */

	font-weight: 400;
}

/**
 * Segoe UI Semibold
 */

@font-face {
	font-family: "Segoe UI";

	src: url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot"),
		/* IE9 compat modes */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.eot?#iefix")
			format("embedded-opentype"); /* IE6-IE8 */

	src: local("Segoe UI Semibold"),
		/* Check local copy */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.svg#web")
			format("svg"); /* Legacy iOS */

	font-weight: 600;
}

/**
 * Segoe UI Bold
 */

@font-face {
	font-family: "Segoe UI";

	src: url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.eot"),
		/* IE9 compat modes */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.eot?#iefix")
			format("embedded-opentype"); /* IE6-IE8 */

	src: local("Segoe UI Bold"),
		/* Check local copy */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff")
			format("woff"),
		/* Pretty modern browsers */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("https://c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.svg#web")
			format("svg"); /* Legacy iOS */

	font-weight: 700;
}

// Typography Styles

.light {
	font-weight: 200;
}

.semilight {
	font-weight: 300;
}

.normal,
.regular {
	font-weight: 400;
}

.semibold {
	font-weight: 600;
}

b,
.bold {
	font-weight: 700;
}

body {
	font-weight: 400;
	color: $text-color;
	text-rendering: optimizeLegibility;
}

@mixin h4() {
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
}

h1,
h2,
h3 {
	font-family: $default-font;
	font-weight: 100;
}

h1,
.faux-h1 {
	font-size: 3rem;
}
h2,
.faux-h2 {
	font-size: 2.2rem;
}
h3,
.faux-h3 {
	font-size: 1.8rem;
}
h4,
.faux-h4 {
	@include h4();
}

@media (min-width: $screen-sm) {
	h1,
	.faux-h1 {
		font-size: 4rem;
	}

	h2,
	.faux-h2 {
		font-size: 3rem;
	}

	h3,
	.faux-h3 {
		font-size: 2.2rem;
	}
}

.wrap-together {
	display: inline-block;
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: darken($link-color, 8%);
		text-decoration: underline;
	}
}

// Font smoothing

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi) {
	/* Retina-specific stuff here */
	body {
		-webkit-font-smoothing: antialiased;
	}
}
