/*----- Video Controls ----*/

.video-btn {
	height: 80px;
	width: 80px;
	background: url("/play.svg") center center no-repeat;
	background-size: contain;
	opacity: 0.7;
	display: block;
	@include transition(opacity 0.08s ease-in);
	-ms-high-contrast-adjust: none;
}

.video-btn:hover {
	opacity: 1;
}

.video-btn:focus {
	outline: none;
}

.mfp-content {
	height: 50%;
}

.video-content {
	height: 100%;
	max-width: 90%;
	display: block;
	margin: 0 auto;
}

@media (min-width: 400px) {
	.video-btn {
		height: 100px;
		width: 100px;
	}
}
