ul.video-list {
	counter-reset: section;
	list-style: none;
	padding-left: 0;
	position: relative;
	.video:not(:last-of-type) a {
		border-bottom: 2px solid darken(white, 10%);
	}
	a {
		position: relative;
		padding: 2rem 2rem 2rem 4.2rem;
		display: block;
		box-sizing: border-box;

		.info {
			padding-top: 0.25rem;
			&::before {
				counter-increment: section;
				content: counter(section);
				position: absolute;
				left: 1.5rem;
				color: black;
			}
			> p,
			> span {
				color: black;
			}
			.title {
				margin-top: 0;
				margin-bottom: 0.7rem;
			}
			.description {
				margin-bottom: 0;
				font-size: 1.4rem;
			}
			.duration,
			.duration span {
				color: lighten(black, 43%);
				font-size: 1.2rem;
			}
		}
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&:hover {
			background: darken(white, 5%);
			// TODO: is this after element affecting performance?
			&::after {
				content: "";
				display: block;
				width: 6rem;
				height: 6rem;
				position: absolute;
				background: url("/play.svg");
				background-size: 6rem;
				top: 3rem;
				left: 8.6rem;
			}
		}
	}
	.thumb {
		max-height: 8.2rem;
		padding-right: 2rem;
		position: relative;
		float: left;
	}
	@media (max-width: $screen-xs) {
		.thumb {
			float: none;
		}
	}
}
