# Don't go up further looking for more .editorconfig files
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# C-style doc comments
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.{js,jsx,ts,tsx}]
indent_size = 4

[{*.yml,package.json}]
indent_size = 2
