# Copyright (c) Microsoft Corporation and contributors. All rights reserved.
# Licensed under the MIT License.

# include-publish-npm-package-deployment

parameters:
- name: feedKind
  type: string

- name: feedUrl
  type: string

- name: environment
  type: string

- name: pool
  type: object
  default: Small-eastus2

- name: customEndPoint
  type: string
  default:

- name: tagName
  type: string
  default:

jobs:
# Note: must be kept in sync with the name of the dependsOn job below
- deployment: publish_${{ replace(parameters.environment, '-', '_') }}
  displayName: Publish ${{ parameters.environment }}
  pool: ${{ parameters.pool }}
  environment: ${{ parameters.environment }}
  workspace:
    clean: all
  variables:
    version: $[ stageDependencies.build.build.outputs['SetVersion.version']]
    isLatest: $[ stageDependencies.build.build.outputs['SetVersion.isLatest']]
  templateContext:
    type: releaseJob
    # in() returns true if the first parameter is equal to any of the others
    isProduction: ${{ in(variables['release'], 'release', 'prerelease')  }}

    # This 'inputs' section downloads initial required artifacts/data for this job.
    inputs:
      - input: pipelineArtifact
        pipeline: buildTools-resource
        artifactName: pack
        targetPath: $(Pipeline.Workspace)/buildTools-zip

      - input: pipelineArtifact
        artifactName: pack
        buildType: current
        targetPath: $(Pipeline.Workspace)/pack
  strategy:
    runOnce:
        deploy:
          steps:
          - template: /tools/pipelines/templates/include-use-node-version.yml@self

          - template: /tools/pipelines/templates/include-install-pnpm.yml@self
            parameters:
              buildDirectory: $(Pipeline.Workspace)
              enableCache: false

          # We can use this step to add overrides that might be necessary to allow for a correct
          # installation of build-tools from the tarball artifacts produced by the build stage.
          # Since this is a lockfile-less install (ideally we should figure out how to change that),
          # npm overrides is our recourse when a dependency releases a new version that causes build-tools installation to break.
          # Current overrides:
          # - @rushstack/node-core-library 5.19.1: version 5.20.0 broke ESM module resolution in Node.
          #   https://github.com/microsoft/rushstack/issues/5644
          # - Build-tools packages: map all versions to local tarballs so interdependencies resolve correctly.
          - task: Bash@3
            name: CreatePackageJsonForOverrides
            displayName: Create package.json with npm overrides
            inputs:
              targetType: 'inline'
              workingDirectory: '$(Pipeline.Workspace)/buildTools-zip/tarballs'
              script: |
                set -eu -o pipefail
                echo "Creating package.json with npm overrides"

                # Manual overrides - add new entries here as needed
                manual_overrides='{
                  "@rushstack/node-core-library": "5.19.1"
                }'

                # Build overrides for local tarballs so interdependencies resolve correctly
                tarball_overrides='{}'
                for tgz in *.tgz; do
                  # Extract package.json from tarball and get the package name
                  pkg_name=$(tar -xzf "$tgz" --to-stdout package/package.json | jq -r '.name')
                  echo "Adding override for $pkg_name -> file:$tgz"
                  tarball_overrides=$(echo "$tarball_overrides" | jq --arg name "$pkg_name" --arg file "file:$tgz" '. + {($name): $file}')
                done

                # Merge manual overrides with tarball overrides and create package.json
                jq -n \
                  --argjson manual "$manual_overrides" \
                  --argjson tarballs "$tarball_overrides" \
                  '{
                    "name": "build-tools-install",
                    "packageManager": "pnpm@10.18.3+sha512.bbd16e6d7286fd7e01f6b3c0b3c932cda2965c06a908328f74663f10a9aea51f1129eea615134bf992831b009eabe167ecb7008b597f40ff9bc75946aadfb08d",
                    "pnpm": {
                      "overrides": ($manual + $tarballs)
                    }
                  }' > package.json

                cat package.json

          - task: Bash@3
            name: InstallBuildToolsFromTarball
            displayName: Install Fluid Build Tools from artifact tarball
            inputs:
              targetType: 'inline'
              workingDirectory: '$(Pipeline.Workspace)/buildTools-zip/tarballs'
              script: |
                set -eu -o pipefail
                echo "Listing files in directory: $(pwd)"
                ls -la
                pnpm --version

                echo "Installing build tools from tarballs (uses overrides from package.json)"
                pnpm install ./*.tgz

                # Add the local node_modules/.bin to PATH for subsequent pipeline steps
                BIN_DIR="$(pwd)/node_modules/.bin"
                echo "Adding $BIN_DIR to PATH for subsequent steps"
                echo "##vso[task.prependpath]$BIN_DIR"

                # Verify the tools are available
                echo "Installed binaries:"
                ls -la "$BIN_DIR"

          - template: /tools/pipelines/templates/include-publish-npm-package-steps.yml@self
            parameters:
              artifactPath: tarballs
              feedUrl: ${{ parameters.feedUrl }}
              customEndPoint: ${{ parameters.customEndPoint }}
              feedKind: ${{ parameters.feedKind }}

- job: TagRelease
  displayName: Tag Release
  # Note: must be kept in sync with the name of the deployment job above
  dependsOn: publish_${{ replace(parameters.environment, '-', '_') }}
  # Only tag the repo if a tag name is provided.
  condition: and(succeeded(), ne('${{ parameters.tagName }}', ''))
  variables:
    version: $[ stageDependencies.build.build.outputs['SetVersion.version']]
  steps:
  - checkout: self
    clean: true
  - template: /tools/pipelines/templates/include-git-tag-steps.yml@self
    parameters:
      tagName: ${{ parameters.tagName }}
