# Copyright (c) Microsoft Corporation and contributors. All rights reserved.
# Licensed under the MIT License.

# include-publish-npm-package-deployment

parameters:
- name: namespace
  type: boolean

- name: official
  type: boolean

- name: feedName
  type: string

- name: environment
  type: string

- name: publishNonScopedPackages
  type: boolean
  default: false

- name: pool
  type: object
  default: Small-eastus2

- name: publishFlags
  type: string
  default:

- name: customEndPoint
  type: string
  default:

- name: tagName
  type: string
  default:

jobs:
- deployment: publish_${{ replace(parameters.environment, '-', '_') }}
  displayName: Publish ${{ parameters.environment }}
  pool: ${{ parameters.pool }}
  environment: ${{ parameters.environment }}
  workspace:
    clean: all
  variables:
    version: $[ stageDependencies.build.build.outputs['SetVersion.version']]
    isLatest: $[ stageDependencies.build.build.outputs['SetVersion.isLatest']]
  strategy:
    runOnce:
        deploy:
          steps:
          - download: current
            artifact: pack
          - task: UseNode@1
            displayName: Use Node 18.17.1
            inputs:
              version: 18.17.1
          - task: Npm@1
            displayName: Install npm 6
            retryCountOnTaskFailure: 4
            inputs:
              command: 'custom'
              customCommand: 'install --global npm@^6'
              customRegistry: 'useNpmrc'
          - template: include-publish-npm-package-steps.yml
            parameters:
              namespace: ${{ parameters.namespace }}
              artifactPath: scoped
              feedName: ${{ parameters.feedName }}
              customEndPoint: ${{ parameters.customEndPoint }}
              official: ${{ parameters.official }}
              publishFlags: ${{ parameters.publishFlags }}
          - ${{ if eq(parameters.publishNonScopedPackages, true) }}:
            - template: include-publish-npm-package-steps.yml
              parameters:
                namespace: false
                artifactPath: non-scoped
                feedName: ${{ parameters.feedName }}
                official: ${{ parameters.official }}
                customEndPoint: ${{ parameters.customEndPoint }}
                publishFlags: ${{ parameters.publishFlags }}
          - template: include-git-tag-steps.yml
            parameters:
              tagName: ${{ parameters.tagName }}
