# Copyright (c) Microsoft Corporation and contributors. All rights reserved.
# Licensed under the MIT License.

# include-publish-npm-package-deployment

parameters:
- name: feedKind
  type: string

- name: feedUrl
  type: string

- name: environment
  type: string

- name: pool
  type: object
  default: Small-eastus2

- name: publishFlags
  type: string
  default:

- name: customEndPoint
  type: string
  default:

- name: tagName
  type: string
  default:

- name: buildDirectory
  type: string

- name: buildToolsVersionToInstall
  type: string
  default: repo

# The path to the pnpm store.
- name: pnpmStorePath
  type: string
  default: $(Pipeline.Workspace)/.pnpm-store

jobs:
- deployment: publish_${{ replace(parameters.environment, '-', '_') }}
  displayName: Publish ${{ parameters.environment }}
  pool: ${{ parameters.pool }}
  environment: ${{ parameters.environment }}
  workspace:
    clean: all
  variables:
    version: $[ stageDependencies.build.build.outputs['SetVersion.version']]
    isLatest: $[ stageDependencies.build.build.outputs['SetVersion.isLatest']]
  templateContext:
    type: releaseJob
    isProduction: ${{ not(eq(variables['testBuild'], 'true')) }}
    # This section downloads initial required artifacts/data for this job.
    inputs:
      - input: pipelineArtifact
        pipeline: buildTools-resource
        artifactName: pack
        targetPath: $(Pipeline.Workspace)/buildTools-zip

      - input: pipelineArtifact
        artifactName: pack
        buildType: current
        targetPath: $(Pipeline.Workspace)/pack
  strategy:
    runOnce:
        deploy:
          steps:
          - template: /tools/pipelines/templates/include-use-node-version.yml@self

          - task: Bash@3
            name: InstallBuildToolsFromTarball
            displayName: Install Fluid Build Tools from artifact tarball
            inputs:
              targetType: 'inline'
              workingDirectory: '$(Pipeline.Workspace)/buildTools-zip/tarballs'
              script: |
                echo "Listing files in directory: $(pwd)"
                ls -la
                echo "attempting tarball install"
                npm i -g ./*.tgz

          - template: /tools/pipelines/templates/include-publish-npm-package-steps.yml@self
            parameters:
              artifactPath: tarballs
              feedUrl: ${{ parameters.feedUrl }}
              customEndPoint: ${{ parameters.customEndPoint }}
              feedKind: ${{ parameters.feedKind }}
              publishFlags: ${{ parameters.publishFlags }}

          - template: /tools/pipelines/templates/include-git-tag-steps.yml@self
            parameters:
              tagName: ${{ parameters.tagName }}
