# Copyright (c) Microsoft Corporation and contributors. All rights reserved.
# Licensed under the MIT License.

# include-publish-npm-package-deployment

parameters:
- name: feedKind
  type: string

- name: feedUrl
  type: string

- name: environment
  type: string

- name: pool
  type: object
  default: Small-eastus2

- name: customEndPoint
  type: string
  default:

- name: tagName
  type: string
  default:

jobs:
# Note: must be kept in sync with the name of the dependsOn job below
- deployment: publish_${{ replace(parameters.environment, '-', '_') }}
  displayName: Publish ${{ parameters.environment }}
  pool: ${{ parameters.pool }}
  environment: ${{ parameters.environment }}
  workspace:
    clean: all
  variables:
    version: $[ stageDependencies.build.build.outputs['SetVersion.version']]
    isLatest: $[ stageDependencies.build.build.outputs['SetVersion.isLatest']]
  templateContext:
    type: releaseJob
    # in() returns true if the first parameter is equal to any of the others
    isProduction: ${{ in(variables['release'], 'release', 'prerelease')  }}

    # This 'inputs' section downloads initial required artifacts/data for this job.
    inputs:
      - input: pipelineArtifact
        pipeline: buildTools-resource
        artifactName: pack
        targetPath: $(Pipeline.Workspace)/buildTools-zip

      - input: pipelineArtifact
        artifactName: pack
        buildType: current
        targetPath: $(Pipeline.Workspace)/pack
  strategy:
    runOnce:
        deploy:
          steps:
          - template: /tools/pipelines/templates/include-use-node-version.yml@self

          - template: /tools/pipelines/templates/include-install-pnpm.yml@self
            parameters:
              buildDirectory: $(Pipeline.Workspace)
              enableCache: false

          - task: Bash@3
            name: CreatePackageJsonForOverrides
            displayName: Create package.json with pnpm overrides
            inputs:
              targetType: 'inline'
              workingDirectory: '$(Pipeline.Workspace)/buildTools-zip/tarballs'
              script: |
                set -eu -o pipefail
                echo "Creating package.json with pnpm overrides"
                cat > package.json << 'EOF'
                {
                  "name": "build-tools-install",
                  "pnpm": {
                    "overrides": {
                      "@rushstack/node-core-library": "5.19.1"
                    }
                  }
                }
                EOF
                cat package.json

          - task: Bash@3
            name: InstallBuildToolsFromTarball
            displayName: Install Fluid Build Tools from artifact tarball
            inputs:
              targetType: 'inline'
              workingDirectory: '$(Pipeline.Workspace)/buildTools-zip/tarballs'
              script: |
                set -eu -o pipefail
                echo "Listing files in directory: $(pwd)"
                ls -la
                echo "Attempting install of build tools from build tools pipeline artifact tarball"
                pnpm add -g ./*.tgz

          - template: /tools/pipelines/templates/include-publish-npm-package-steps.yml@self
            parameters:
              artifactPath: tarballs
              feedUrl: ${{ parameters.feedUrl }}
              customEndPoint: ${{ parameters.customEndPoint }}
              feedKind: ${{ parameters.feedKind }}

- job: TagRelease
  displayName: Tag Release
  # Note: must be kept in sync with the name of the deployment job above
  dependsOn: publish_${{ replace(parameters.environment, '-', '_') }}
  # Only tag the repo if a tag name is provided.
  condition: and(succeeded(), ne('${{ parameters.tagName }}', ''))
  variables:
    version: $[ stageDependencies.build.build.outputs['SetVersion.version']]
  steps:
  - checkout: self
    clean: true
  - template: /tools/pipelines/templates/include-git-tag-steps.yml@self
    parameters:
      tagName: ${{ parameters.tagName }}
