# Copyright (c) Microsoft Corporation and contributors. All rights reserved.
# Licensed under the MIT License.

parameters:
  - name: pool
    type: string
    default: Small-eastus2

resources:
  pipelines:
    # Listing this pipeline as a resource makes its artifacts automatically downloaded within a deployment job.
    - pipeline: buildTools-resource
      project: internal
      source: Build - build-tools
      branch: main

stages:

# This stage only runs for test-branch builds
- stage: test-deployment-job-stage
  displayName: Test Deployment Job Stage
  variables:
  - group: ado-feeds
  jobs:

  - deployment: TestDeploymentJob
    # Depend on the build job
    # dependsOn: checkoutAndUploadThisRepoAsArtifact
    displayName: Test Deployment Job
    pool: ${{ parameters.pool }}
    environment: test-package-build-feed
    # This templateContext section is necessary for 1ES compliance for deployment jobs.
    # see https://eng.ms/docs/cloud-ai-platform/devdiv/one-engineering-system-1es/1es-docs/1es-pipeline-templates/features/releasepipelines/releaseworkflows/releasejob?tabs=combined-pipeline for more info.
    templateContext:
      type: releaseJob
      isProduction: true

    workspace:
      clean: all
    strategy:
      runOnce:
          deploy:
            steps:
            - template: /tools/pipelines/templates/include-use-node-version.yml@self

            - task: Bash@3
              name: listFilesInWorkspace
              displayName: List files in worksspace
              inputs:
                targetType: 'inline'
                workingDirectory: '$(Pipeline.Workspace)'
                script: |
                  echo "Listing files in directory: $(pwd)"
                  ls -la

            - task: Bash@3
              name: InstallBuildToolsFromTarball
              displayName: Install Fluid Build Tools from Artifact Tarball
              inputs:
                targetType: 'inline'
                workingDirectory: '$(Pipeline.Workspace)/buildTools-resource/pack/tarballs'
                script: |
                  echo "Listing files in directory: $(pwd)"
                  ls -la
                  echo "attempting tarball install"
                  npm i -g ./*.tgz


    # - template: /tools/pipelines/templates/include-publish-npm-package-deployment.yml@self
    #   parameters:
    #     feedUrl: $(ado-feeds-test) # Comes from the ado-feeds variable group
    #     feedKind: internal-test
    #     environment: test-package-build-feed
    #     pool: ${{ parameters.pool }}
    #     buildDirectory: ${{ parameters.buildDirectory }}
    #     buildToolsVersionToInstall: ${{ parameters.buildToolsVersionToInstall }}
    #     pnpmStorePath: ${{ parameters.pnpmStorePath }}
