.root { 
    font-family: sans-serif;
    color: slategrey;
}

.break { }

.code { 
    display: block;
    margin: 1em 1em 0em 1em;
    padding: 8px;
}

.emphasis { font-style: italic }

.blockquote { 
    display: block;
    border-left: .25em solid #dfe2e5;
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    padding: 0 1em;
    margin: 1em 1em 0em 1em;
}

.heading1 { 
    font-size: 2em;
    font-weight: bold;
}

.heading2 { 
    font-size: 1.5em;
    font-weight: bold;
}

.heading3 { 
    font-size: 1.17em;
    font-weight: bold;
}
.heading4 {
    font-weight: bold;
}

.heading5 { 
    font-size: 0.83em;
    font-weight: bold;
}

.heading6 { 
    font-size: 0.67em;
    font-weight: bold;
}

.image { }

.code, .inlineCode { 
    font-family: "Lucida Console", Monaco, monospace;
    background: rgba(0,0,0,.05);
    color: black;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
}

.link { 
    color: darkmagenta;
}

.listItem       { }
.orderedlist    { }
.paragraph      { }
.strong         { font-weight: bold; }
.table          { }
.tableCell      { }
.tableRow       { }

.text { 
    color: #000;
}

.unorderedlist  { }
