*
!*.json
!.npmrc
!_api-extractor-temp/**
!LICENSE.txt
!packages/**
!examples/**
!server/routerlicious
!docs/**
!tools/build-server-resources/**
**/node_modules
**/dist
**/lib
**/nyc
**/*.tsbuildinfo
