*
!*.json
!*.md
!.npmrc
!_api-extractor-temp/**
!LICENSE.txt
!packages/**
!examples/components/**
!examples/hosts/iframe-host/**
!server/routerlicious
!docs/**
!tools/**
**/node_modules
**/dist
**/lib
**/nyc
**/*.tsbuildinfo
