.cache-loader
node_modules
dist
nyc
*.log
.DS_Store
lib/

# TypeScript incremental build cache
*.tsbuildinfo

# c8 code coverage temporary files
/coverage/tmp/

# Temporary api-extractor build artifacts
**/_api-extractor-temp/**

# Bundle analysis artifacts
bundleAnalysis

# Misc pipeline artifacts
artifacts

docs/resources/_gen/

# documentation tool artifact
tsdoc-metadata.json
