# THIS IS A GLOBAL GIT IGNORE FOR THE ENTIRE PRAGUE REPOSITORY
# INDIVIDUAL PROJECTS MAY HAVE THEIR OWN .GITIGNORE FILES

# EVERY PROJECT WANTS TO IGNORE NODE MODULES
node_modules
**/node_modules

# EVERY PROJECT WANTS TO IGNORE BOWER COMPONENTS, IF THEY USE BOWER
bower_components
**/bower_components

mathAgent/*.js
mathAgent/*.map
npm-debug.log
