.cache-loader
node_modules
dist
lib
!common/lib
nyc
*.log
.DS_Store

# Generated Node10 module resolution compatibility files
alpha.d.ts
beta.d.ts
internal.d.ts
legacy.d.ts

# TypeScript incremental build cache
*.tsbuildinfo

# c8 code coverage temporary files
/coverage/tmp/

# Temporary api-extractor build artifacts
**/_api-extractor-temp/**

# Bundle analysis artifacts
bundleAnalysis

# Misc pipeline artifacts
artifacts

docs/resources/_gen/

# documentation tool artifact
tsdoc-metadata.json

# PNPM store (when mounting host file system in docker container)
.pnpm-store/

# TODO: This can be removed once the `flub add changeset` command no longer creates the UPCOMING file.
UPCOMING.md

# Ignore the nested lib dist folder
# This is created to later publish its content on the pipeline and do not need to be included on git as
# artifacts or bundleAnalisys folders. See scripts/pack-distlib.sh for more details.
nested_lib_dist
