engine-strict=true

# Temporary, because otherwise pnpm fails due to peer dependencies not being satisfied
# with our current dependency graph. (copied from main repo, PR 13554)
strict-peer-dependencies=false

# Disable pnpm update notifications since we use corepack to install package managers
update-notifier=false

link-workspace-packages=true