engine-strict=true
frozen-lockfile=true
strict-peer-dependencies=true
link-workspace-packages=true

# Disable pnpm update notifications since we use corepack to install package managers
update-notifier=false
# Use the number of cores on the machine by default.
workspace-concurrency=0

# Hoist these dependencies to the root workspace
public-hoist-pattern[]=@arethetypeswrong/cli
# ['*eslint*', '*prettier*'] is the default, so we add those as well
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
