body 
{
    touch-action: none;
    margin: 0px 0px 0px 0px;
    font-family: 'Segoe UI', sans-serif;
    background-color: orangered;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#content {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 50px;
  right: 0px;
  z-index: 0;
  background-color: darkgrey;
}

#hitPlane
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.drawSurface
{
  touch-action: none; /* Disable touch behaviors, like pan and zoom */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
 
}

.selectable {
  z-index: 1;
}
  







