.document { 
    width: 100%;
}

.documentContent { 
    /* user-select: none; */
}

.documentContent:focus { 
    outline: none;
}

.documentOverlay {
    pointer-events: none;
}

.leadingSpan::after, .trailingSpan::after {
    content: "\200b"  /* zero-width space to force leading/trailing span to be line height. */
}