.ffcom_homepage {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-content: center;

	background-color: #fff8f3;
}

.ffcom_homepage_body {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-content: center;
}
