; begin auth token
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:_password=${NPM_TOKEN}
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:_password=${NPM_TOKEN}
; end auth token

# registry=https://registry.npmjs.org/
# always-auth=false

@microsoft:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@microsoft:always-auth=true
