version: '3.4'
services:
    gateway:
        image: prague.azurecr.io/gateway:latest
        ports:
            - "3000:3000"
        command: node dist/www.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    alfred:
        build:
            context: .
            target: runner
        ports:
            - "3003:3000"
        command: node packages/routerlicious/dist/alfred/www.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    deli:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js deli /usr/src/server/packages/routerlicious/dist/deli/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    scriptorium:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js scriptorium /usr/src/server/packages/routerlicious/dist/scriptorium/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    copier:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js copier /usr/src/server/packages/routerlicious/dist/copier/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    scribe:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js scribe /usr/src/server/packages/routerlicious/dist/scribe/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    foreman:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js foreman /usr/src/server/packages/routerlicious/dist/foreman/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    routemaster:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js routemaster /usr/src/server/packages/lambdas-driver/dist/document-router/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - documentLambda=/usr/src/server/packages/routerlicious/dist/routemaster/index.js
        restart: always
    riddler:
        build:
            context: .
            target: runner
        ports:
            - "5000:5000"
        command: node packages/routerlicious/dist/riddler/www.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    historian:
        image: prague.azurecr.io/historian:30824
        ports:
            - "3001:3000"
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        restart: always
    gitrest:
        image: prague.azurecr.io/gitrest:30825
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
        volumes:
            - git:/home/node/documents
        restart: always
    git:
        image: prague.azurecr.io/gitssh:654
        ports:
            - "3022:22"
        volumes:
            - git:/home/git
        restart: always
    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"
        restart: always
    kafka:
        image: wurstmeister/kafka:2.11-1.1.1
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: "kafka"
            KAFKA_ADVERTISED_PORT: "9092"
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
            KAFKA_CREATE_TOPICS: "deltas:8:1,rawdeltas:8:1,testtopic:8:1,deltas2:8:1,rawdeltas2:8:1"
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        restart: always
    redis:
        image: "redis:alpine"
    mongodb:
        image: "mongo:3.4.3"
    rabbitmq:
        image: "rabbitmq:alpine"
    auspkn:
        image: prague.azurecr.io/auspkn:4149
        command: node dist/www.js
        ports:
            - "3002:3000"
        environment:
            - npm__url=http://verdaccio:4873
    verdaccio:
        image: verdaccio/verdaccio:3.8.1
        ports:
            - "4873:4873"
        volumes:
            - ./verdaccio/conf:/verdaccio/conf
volumes:
  git:
    driver: local