version: '3.4'
services:
    proxy:
        image: nginx:latest
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        ports:
            - "3003:3003"
            - "3001:3001"
    alfred:
        build:
            context: .
            target: runner
        expose:
            - "3000"
        command: node packages/routerlicious/dist/alfred/www.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    deli:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js deli /usr/src/server/packages/routerlicious/dist/deli/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    scriptorium:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js scriptorium /usr/src/server/packages/routerlicious/dist/scriptorium/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    copier:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js copier /usr/src/server/packages/routerlicious/dist/copier/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    scribe:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js scribe /usr/src/server/packages/routerlicious/dist/scribe/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    foreman:
        build:
            context: .
            target: runner
        command: node packages/routerlicious/dist/kafka-service/index.js foreman /usr/src/server/packages/routerlicious/dist/foreman/index.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    riddler:
        build:
            context: .
            target: runner
        ports:
            - "5000:5000"
        command: node packages/routerlicious/dist/riddler/www.js
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    historian:
        image: mcr.microsoft.com/fluidframework/routerlicious/historian:latest
        expose:
            - "3000"
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        restart: always
    gitrest:
        image: mcr.microsoft.com/fluidframework/routerlicious/gitrest:latest
        environment:
            - DEBUG=fluid:*
            - NODE_ENV=development
            - IS_FLUID_SERVER=true
        volumes:
            - git:/home/node/documents
        restart: always
    git:
        image: mcr.microsoft.com/fluidframework/routerlicious/gitssh:latest
        ports:
            - "3022:22"
        volumes:
            - git:/home/git
        restart: always
    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
            - "2181:2181"
        restart: always
    kafka:
        image: wurstmeister/kafka:2.11-1.1.1
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: "kafka"
            KAFKA_ADVERTISED_PORT: "9092"
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'
            KAFKA_CREATE_TOPICS: "deltas:8:1,rawdeltas:8:1,testtopic:8:1,deltas2:8:1,rawdeltas2:8:1"
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
        restart: always
    redis:
        image: "redis:alpine"
    mongodb:
        image: "mongo:3.4.3"
    rabbitmq:
        image: "rabbitmq:alpine"
volumes:
  git:
    driver: local
