services:
  alfred:
    ports:
      - "5858:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/alfred/www.js
  deli:
    ports:
      - "5859:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/kafka-service/index.js deli /usr/src/server/packages/routerlicious/dist/deli/index.js
  scriptorium:
    ports:
      - "5860:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/kafka-service/index.js scriptorium /usr/src/server/packages/routerlicious/dist/scriptorium/index.js
  copier:
    ports:
      - "5861:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/kafka-service/index.js copier /usr/src/server/packages/routerlicious/dist/copier/index.js
  scribe:
    ports:
      - "5862:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/kafka-service/index.js scribe /usr/src/server/packages/routerlicious/dist/scribe/index.js
  riddler:
    ports:
      - "5865:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/riddler/www.js
  nexus:
    ports:
      - "5866:5858"
    command: node --inspect=0.0.0.0:5858 packages/routerlicious/dist/nexus/www.js
