# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# build-eslint-config-fluid pipeline

name: $(Build.BuildId)

parameters:
- name: publishOverride
  displayName: Publish Override
  type: string
  default: default
  values:
    - default
    - skip
- name: releaseBuildOverride
  displayName: Release Build Override
  type: string
  default: default
  values:
    - default
    - false
    - true

trigger:
  branches:
    include:
    - main
    - release/*
  paths:
    include:
    - common/build/eslint-config-fluid
    - tools/pipelines/build-eslint-config-fluid.yml
    - tools/pipelines/scripts/build-version.js
    - tools/pipelines/templates/build-npm-package.yml
    - tools/pipelines/templates/include-set-package-version.yml
    - tools/pipelines/templates/include-vars.yml
    - tools/pipelines/templates/include-publish-npm-package.yml
    - tools/pipelines/templates/include-publish-npm-package-steps.yml

pr:
  branches:
    include:
    - main
    - release/*
  paths:
    include:
    - common/build/eslint-config-fluid
    - tools/pipelines/build-eslint-config-fluid.yml
    - tools/pipelines/scripts/build-version.js
    - tools/pipelines/templates/build-npm-package.yml
    - tools/pipelines/templates/include-set-package-version.yml
    - tools/pipelines/templates/include-vars.yml

extends:
  template: templates/build-npm-package.yml
  parameters:
    publishOverride: ${{ parameters.publishOverride }}
    releaseBuildOverride: ${{ parameters.releaseBuildOverride }}
    buildDirectory: common/build/eslint-config-fluid
    tagName: eslint-config-fluid
    taskBuild: false
    taskBuildDocs: false
    taskLint: false
    taskTest: false
    taskAuth: false
