html, body {
	height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.host {
    overflow: hidden;
}

.host, .viewport {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.viewport {
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.padding {
    outline: 1px dotted #ddd;
    margin: 0.75in;
    padding: 0.1in;
}

.padding:focus-within {
    background: white;
    outline: 1px dotted #aaa;
}

.slot {
    white-space: pre-wrap;
}

.slot:focus-within {
    outline: none;
}

.search { }

.bold {
    font-weight: bold;
}
