

@prague:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@chaincode:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@container:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@component:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@microsoft:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@ms:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluid-example:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
always-auth=true