//packages.wu2.prague.office-int.com/:_authToken="mQ12JIgL/OVL2fiPinbqIA=="
//packages.wu2.prague.office-int.com/:always-auth=true

@prague:registry=https://packages.wu2.prague.office-int.com
@chaincode:registry=https://packages.wu2.prague.office-int.com
@container:registry=https://packages.wu2.prague.office-int.com
@component:registry=https://packages.wu2.prague.office-int.com
@microsoft:registry=https://packages.wu2.prague.office-int.com
@ms:registry=https://packages.wu2.prague.office-int.com
@fluid-example:registry=https://packages.wu2.prague.office-int.com
always-auth=true