.browser-window-wrapper {
	flex-grow: 1;
	/* TODO: confirm this is reasonable for small screens */
	min-width: 300px;
	border: 1px solid lightgray;
	box-sizing: border-box;
	position: relative;
	padding-bottom: 10px;
	margin: 2px;
}

.browser-window {
	position: absolute;
	top: 0;
	height: 45px;
	width: 100%;
	background-color: #e8e8e8;
	border-bottom: 1px solid lightgray;
	user-select: none;
}

.browser-window-icon-wrapper {
	position: absolute;
	display: flex;
	top: 0px;
	right: 0px;
}

.browser-window-icon {
	position: relative;
	top: 0px;
	right: 0px;
	color: #333333;
	width: 25px;
	text-align: center;
}

.browser-window-nav {
	position: absolute;
	font-size: 10px;
	bottom: 5px;
	left: 10px;
	height: 20px;
	width: 65%;
	/* border-radius: 2px; */
	/* box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1); */
	/* background-color: white; */
	border: 1px solid lightgray;
	overflow: hidden;

	/* Rectangle 34647954 */

	box-sizing: border-box;


	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 5px;

}

.browser-window-nav-url {
	padding-left: 2px;
}
