.browser-window-wrapper {
	flex-grow: 1;
	/* TODO: confirm this is reasonable for small screens */
	min-width: 300px;
	box-sizing: border-box;
	margin: 2px;
}

.browser-window {
	width: 100%;
}

.browser-window-nav {
	/* Rectangle 34647954 */

	box-sizing: border-box;

	color: black;
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	padding: 5px;
}
