.homePageSection {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 72px 0px 0px 0px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

/* TODO: better name */
.homePageSectionInner {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;

	max-width: 100%;

	padding: 10px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}
