.homePageSection {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: 25px;
}

.homePageSectionInner {
	height: 100%;
	width: 100%;
	max-width: 1600px;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 15px;
}
