.homePageSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 72px 0px 0px 0px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

/* TODO: better name */
.homePageSectionInner {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.contentBoundary {
	width: 100%;
	height: 100%;
	padding: 0% 10%;
}

@media (min-width: 1640px) {
	.contentBoundary{
		padding: 0% 20%
	}
}
