.widthContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0% 20%
}


@media (max-width: 1440px) {
	.widthContainer{
		padding: 0% 10%
	}
}
