.widthContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0% 10%;

	background: #FFFDFB;
}


@media (min-width: 1640px) {
	.widthContainer{
		padding: 0% 20%
	}
}
