.keyFeaturesCardGrid {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0px;
	gap: 16px;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.keyFeatureCard {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	isolation: isolate;

	max-width: 32%;

	/* day/background/card/normal */
	background: #FEFEFE;
	/* elevation/day/level-2 */
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
	border-radius: 24px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardImageContainer {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 8px 0px;

	width: 100%;
	height: 242px;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	z-index: 1;
}

.keyFeatureCardImage {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	isolation: isolate;
	object-fit: cover;
	width: 100%;
	height: 234px;
	border-radius: 16px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardContents {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;

	width: 100%;

	/* Inside auto layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
	z-index: 0;
}

.keyFeatureCardBody {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardBodyLabelContainer {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardBodyLabel {
	/* VP4/heading/2xs */
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.03em;

	color: #0E1726;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	width: 100%;
}

.keyFeatureCardBodyTextContainer {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	/* Inside auto layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardBodyText {
	/* VP4/body/m */
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	letter-spacing: -0.03em;

	/* day/foreground/base/subtle */
	color: #17253D;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardFooter {
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	/* Inside auto layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.keyFeatureCardFooterContent {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.keyFeatureCardFooterLink {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 8px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.keyFeatureCardFooterLinkButton {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px;

	width: 32px;
	height: 32px;

	color: white;
	background: #000000;
	border-radius: 8px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.keyFeatureCardFooterLinkLabelFrame {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 0px 2px;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.keyFeatureCardFooterLinkLabelText {
	/* VP4/action/label */
	font-family: 'Segoe UI';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	/* identical to box height, or 147% */
	text-align: center;
	letter-spacing: -0.02em;

	/* day/foreground/accent-subtle/normal */
	color: #2A446F;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}
