.ffcom-key-features-card-grid {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 16px;
}

.ffcom-key-feature-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	isolation: isolate;
	background: #fefefe;
	box-shadow:
		0px 0px 2px rgba(0, 0, 0, 0.12),
		0px 2px 4px rgba(0, 0, 0, 0.14);
	border-radius: 24px;
}
@media (max-width: 2560px) {
	.ffcom-key-features-card-grid{
		justify-content: space-between;
	}
	.ffcom-key-feature-card {
		min-width: 30%;
		max-width: 32%;
	}
}

@media (max-width: 1024px) {
	.ffcom-key-features-card-grid{
		justify-content: space-around;
	}
	.ffcom-key-feature-card {
		min-width: 35%;
		max-width: 45%;
	}
}
@media (max-width: 768px) {
	.ffcom-key-features-card-grid{
		justify-content: space-around;
	}

	.ffcom-key-feature-card {
		min-width: 44%;
		max-width: 48%;
	}
}

@media (max-width: 635px) {
	.ffcom-key-features-card-grid {
		justify-content: space-around;
	}

	.ffcom-key-feature-card {
		min-width: 80%;
	}
}

.ffcom-key-feature-card-image-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 8px 0px;
	width: 100%;
	height: 242px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	z-index: 1;
}

.ffcom-key-feature-card-image {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	isolation: isolate;
	object-fit: cover;
	width: 100%;
	height: 234px;
	border-radius: 16px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.ffcom-key-feature-card-contents {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 24px;
	width: 100%;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
	z-index: 0;
}

.ffcom-key-feature-card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.ffcom-key-feature-card-body-label-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.ffcom-key-feature-card-body-label {
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: -0.03em;
	color: #0e1726;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	width: 100%;
}

.ffcom-key-feature-card-body-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.ffcom-key-feature-card-body-text {
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.03em;
	color: #17253d;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.ffcom-key-feature-card-footer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.ffcom-key-feature-card-footer-content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ffcom-key-feature-card-footer-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 8px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ffcom-key-feature-card-footer-link-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px;
	width: 32px;
	height: 32px;
	color: white;
	background: #000000;
	border-radius: 8px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.ffcom-key-feature-card-footer-link-label-frame {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 0px 2px;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.ffcom-key-feature-card-footer-link-label-text {
	font-family: "Segoe UI";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #2a446f;
	flex: none;
	order: 0;
	flex-grow: 0;
}
