.diceRollerCard {
	/* flex-grow: 1; */
	/* TODO: confirm this is reasonable for small screens */
	min-width: 300px;
	box-sizing: border-box;
	margin: 2px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.diceRollerCardNavBar {
	/* Rectangle 34647954 */

	box-sizing: border-box;

	color: black;
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	padding: 5px;
}

.diceImage {
	width: 200px;
}

.rollButton {
	width: 118px;
	height: 48px;
	background: #0078D4;
	border-style: none;
	border-radius: 8px;
}

.rollButtonLabel {
	font-size: 15px;
	color: #FFFFFF;
}
