.serviceSectionContainer {
	height: 90vh;
	width: 100vw;
	position: relative;
}

.overlay {
	background: linear-gradient(to bottom, rgba(255, 253, 251, 1) 10%, rgba(255, 253, 251, 0.2));
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.serviceContentContainer{
	z-index: 2;
	display: flex;
}

.service {

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
left:136px;
border-radius: 24px;
background-color: #FEFEFE;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
max-height: 320px;
max-width: 600px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 4;


}

.serviceContentContainer {
	/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: inherit;
height: 100%;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}

.serviceContent{
	/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 100%;
max-height: inherit;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.azureImg{
	/* Badge */

box-sizing: border-box;

/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;

	width: 48px;
	height: 48px;


	background-image: url('../../static/assets/azure.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* day/border/card(card)/fade */
	border: 1px solid #E6F2FB;
	border-radius: 8px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;

}
.serviceTitle {
/* Title */

width: 606px;
height: 28px;

/* VP4/heading/2xs */
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: -0.03em;

/* reimagine/day/foreground/base(theme)/strong */
color: #0E1726;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


}

.serviceDescription {
	/* Text */

width: 100%;

/* VP4/body/m */
font-family: 'Segoe UI';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: -0.03em;

/* reimagine/day/foreground/base(theme)/subtle */
color: #17253D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

}

/* Fluid Framework in the Cloud */
.ffCloudTitle {
position: relative;
width: 90%;
height: 62px;
left: 136px;

font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 40px;
/* or 62% */
letter-spacing: -0.02em;
color: #000000;
}

.services {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	height: 30%;
	flex-wrap: wrap;
}

.msftLogo {
	/* Badge */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 48px;
height: 48px;

/* day/background/card(card)/normal */
background-image: url('../../static/assets/microsoft-logo.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
/* day/border/card(card)/fade */
border: 1px solid #E6F2FB;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.learnMore {
/* Label */
cursor: pointer;

width: 73px;
height: 20px;

/* VP4/label/m */
font-family: 'Segoe UI';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* day/foreground/accent-subtle(cta)/normal */
color: #2A446F;
border-bottom: 1px solid #2A446F;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
.learnMore:hover {
	text-decoration: none;
	color: inherit;
}
