
.dice {
  min-height: 50%; 
  font-size: 100px; 
  color: red; 
  text-align: center; 
  cursor: pointer; 
}
.commit {
  min-height: 50%; 
  font-size: 100px; 
  color: greenyellow; 
  text-align: center; 
  cursor: pointer; 
}