
# If using SharePoint embedded, set these variables.
SPE_CLIENT_ID=<client-id-of-the-Entra-App-for-SPE>
SPE_ENTRA_TENANT_ID=<id-of-the-Entra-tenant-where-the-app-registration-lives>
SITE_URL=<site-url>
DRIVE_ID=<id-of-the-SPE-container>
