registry=https://registry.npmjs.org/
always-auth=false

//packages.wu2.prague.office-int.com/:_password="Ym9oZW1pYQ=="
//packages.wu2.prague.office-int.com/:username=prague
//packages.wu2.prague.office-int.com/:always-auth=true
@prague:registry=https://packages.wu2.prague.office-int.com
@prague:always-auth=true

@chaincode:registry=https://packages.wu2.prague.office-int.com
@chaincode:always-auth=true

@ms:registry=https://packages.wu2.prague.office-int.com
@ms:always-auth=true
