.spaces-toolbar {
    position: relative;
    height: 45px;
    margin: 10px;
    display: flex;
}

.spaces-toolbar-tool {
    width: 180px;
}

.spaces-toolbar-top-level-button {
    width: 100%;
    height: 100%;
}

.spaces-toolbar-option-button {
    width: 100%;
}
