.spaces-component-grid {
    padding-top: 7rem;
    min-height: 3000px;
    width: 100%;
}

.spaces-component-view-wrapper {
    padding: 2px;
    overflow: scroll;
}

.editable .spaces-component-view-wrapper {
    border: 1px solid black;
    background-color: #d3d3d3;
    box-sizing: border-box;
    overflow: hidden;
}

.spaces-embedded-component-wrapper {
    height: 100%;
}

.editable .spaces-embedded-component-wrapper {
    pointer-events: none;
    opacity: 0.5;
}

.spaces-edit-pane {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.spaces-edit-button {
    width: 2rem;
    height: 2rem;
}