@ms:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
@prague:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
@chaincode:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
always-auth=true