@require '~vuepress-plugin-tabs/dist/themes/default.styl';

a.header-anchor:hover {
    text-decoration: initial !important;
}

.home .hero .description {
    color: $textColor !important;
}

.custom-block {
    .custom-block-title {
        font-weight: 600;
        margin-bottom: -0.4rem;
    }

    &.important, &.tip, &.note {
        padding: 0.1rem 1.5rem;
        border-left-width: 0.5rem;
        border-left-style: solid;
        margin: 1rem 0;
        background-color: #f3f5f7;
    }

    &.important, &.tip {
        border-color: #00BCF2; // #0078d4
    }

    &.note {
        border-color: #2c3e50;
    }
}
