// colors
// $accentColor = #3eaf7c;
$accentColor = darken(#00BCF2, 25%);
$textColor = #2c3e50;
$borderColor = #eaecef;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;
// $badgeTipColor = #42b983;
$badgeTipColor = #00BCF2;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;

// layout
$navbarHeight = 3.6rem;
$sidebarWidth = 20rem;
$contentWidth = 740px;
$homePageWidth = 960px;

// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;
