/* Page-specific styling */
.results-list
{
    border: 1px solid;
    display: none; /* visibility:  managed by JQuery*/
    margin-top: 2px;
    margin-left: 8px;
    border-color: #aaaaaa;
    width:312px;
}