.data-grid-toolbar {
	position: relative;
	height: 45px;
	margin: 10px;
	display: flex;
	z-index: 1000;
}

.data-grid-toolbar-tool {
	width: 180px;
}

.data-grid-toolbar-top-level-button {
	width: 100%;
	height: 100%;
}

.data-grid-toolbar-option-button {
	width: 100%;
}
