.document { 
    width: 100%;
}

.eventSink:focus {
    outline: 1px solid rgba(64, 128, 255, 0.3);
}

.documentContent { 
    /* user-select: none; */
}

.documentOverlay {
    pointer-events: none;
}

.leadingSpan::after, .trailingSpan::after {
    content: "\200b"  /* zero-width space to force leading/trailing span to be line height. */
}