apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "gitrest.fullname" . }}
  labels:
    app: {{ template "historian.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Values.gitrest.name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  config.json: |
    {
        "logger": {
            "colorize": false,
            "morganFormat": "short",
            "json": false,
            "level": "verbose",
            "timestamp": false
        },
        "requestSizeLimit": "1gb",
        "storageDir": {
            "baseDir": "/home/node/documents",
            "useRepoOwner": true
        },
        "externalStorage": {
          "enabled": false,
          "endpoint": "http://externalStorage:3005"
        },
        "git": {
            "lib": {
                "name": "{{ .Values.gitrest.git.lib.name }}"
            },
            "persistLatestFullSummary": {{ .Values.gitrest.git.persistLatestFullSummary }},
            "repoPerDocEnabled": {{ .Values.gitrest.git.repoPerDocEnabled }}
        }
    }
