apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "historian.fullname" . }}
  labels:
    app: {{ template "historian.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Values.historian.name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  selector:
    matchLabels:
      app: {{ template "historian.fullname" . }}
  replicas: {{ .Values.historian.replicas }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/historian-configmap.yaml") . | sha256sum }}
      labels:
        app: {{ template "historian.fullname" . }}
        component: "{{ .Values.historian.name }}"
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ template "historian.fullname" . }}
        image: "{{ .Values.historian.image }}"
        imagePullPolicy: {{ default "" .Values.imagePullPolicy | quote }}
        ports:
        - name: http
          containerPort: 3000
        env:
        - name: DEBUG
          value: "routerlicious:*"
        - name: NODE_ENV
          value: "production"
        - name: IS_FLUID_SERVER
          value: "true"
        volumeMounts:
        - name: config
          mountPath: /home/node/server/packages/historian/config.json
          subPath: config.json
      dnsConfig:
        options:
        - name: single-request-reopen
      imagePullSecrets:
      - name: regsecret
      volumes:
        - name: config
          configMap:
            name: {{ template "historian.fullname" . }}
