apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "historian.fullname" . }}
  labels:
    app: {{ template "historian.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Values.historian.name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  config.json: |
    {
        "logger": {
            "colorize": false,
            "morganFormat": "json",
            "json": false,
            "level": "verbose",
            "timestamp": false
        },
        "requestSizeLimit": "1gb",
        "riddler": "{{ .Values.historian.riddler }}",
        "redis": {
            "host": "{{ .Values.historian.redis.url }}",
            "port": "{{ .Values.historian.redis.port }}",
            "tls": {{ .Values.historian.redis.tls }},
            "pass": "{{ .Values.historian.redis.password }}"
        },
        "redisForThrottling": {
            "host": "{{ .Values.historian.redisForThrottling.url }}",
            "port": "{{ .Values.historian.redisForThrottling.port }}",
            "tls": {{ .Values.historian.redisForThrottling.tls }},
            "pass": "{{ .Values.historian.redisForThrottling.password }}"
        },
        "error": {
            "track": {{ .Values.historian.error.track }},
            "endpoint": "{{ .Values.historian.error.endpoint }}"
        },
        "throttling": {
            "maxRequestsPerMs": {{ .Values.historian.throttling.maxRequestsPerMs }},
            "maxRequestBurst": {{ .Values.historian.throttling.maxRequestBurst }},
            "minCooldownIntervalInMs": {{ .Values.historian.throttling.minCooldownIntervalInMs }},
            "minThrottleIntervalInMs": {{ .Values.historian.throttling.minThrottleIntervalInMs }}
        },
        "restGitService": {
            "disableGitCache": {{ .Values.historian.restGitService.disableGitCache }}
        },
        "storageUrl": "{{ .Values.historian.storageUrl }}"
    }
