registry=https://registry.npmjs.org/
always-auth=false

//packages.wu2.prague.office-int.com/:_authToken="mQ12JIgL/OVL2fiPinbqIA=="
//packages.wu2.prague.office-int.com/:always-auth=true
@prague:registry=https://packages.wu2.prague.office-int.com
@prague:always-auth=true
