.todo-view {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.todo-title {
    width: 100%;
    border: none;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: none;
}

.new-item-form {
    margin: 20px 0;
}

.new-item-text {
    box-sizing: border-box;
    width: calc(100% - 50px);
    height: 50px;
    border: 1px solid #666;
    vertical-align: middle;
    font-size: 30px;
    outline: 0;
}

.new-item-button {
    width: 50px;
    height: 50px;
    border: 1px solid #666;
    vertical-align: middle;
    font-size: 30px;
}

.item-wrap {
    display: flex;
}

.todo-item-view {
    display: inline-block;
    width: calc(100% - 100px);
}

.action-button {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin: 10px 0 10px 10px;
    border: 1px solid #666;
    padding: 0;
    font-size: 30px;
}

.action-button:last-child {
    margin: 10px;
}
