.viewport {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    grid-template-areas:
      "main scrollbar";
      width: 100%;
      
    /* The viewport is 100% height and clips the slot.  The slot's height is unconstrained so we can scroll it. */
    overflow-y: hidden;
    height: 100%;
}
  
.viewportSlot {
    width: 100%;
    overflow: hidden;
    grid-area: main;
}