.viewport {
    position: relative;
    background: pink;
    height: 100%;
    
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas:
      "main";
  
    width: 100%;
    
    /* Clip slot contents to bounds of viewport. */
    overflow-y: hidden;

    --scroll-bar-width: 15px;
}

.contentPadding {
    touch-action: none;
    padding: 15px;
    width: 100%;
}

.contentPane {
    /* Additional right padding is to compensate for overlaying the scrollPane.
       along the right edge of the content. */
    padding-right: var(--scroll-bar-width);
    margin: 0px;
    width: 100%;
}

.slotBorderPosition {
    position: relative;
    overflow: hidden;
}

.slotBorder {
    position: absolute;
    pointer-events: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px solid black;
}

.slot {
    /* Position relative so script can use 'style.top' to translate in Y. */
    position: relative;
    background: #EEE;
    width: 100%;
}
  
.scrollPane {
    /* Scrollbar should overlap right 15px of 'slot'.  We need to force the
       15px width due to Chrome's auto-hide behavior when using touchpad. */
    position: absolute;
    right: 0px;
    height: 100%;
    width: var(--scroll-bar-width);
    background: rgba(128, 128, 128, 0.5);
    
    /* Show vertical scrollbar. */
    overflow-y: scroll;
    overflow-x: hidden;
}
  
.space {
    height: 8192px;
}