services:
  gitrest:
    build:
      context: .
      target: runner
    ports:
      - "3000:3000"
    volumes:
      - git:/home/node/documents
    restart: always
  git:
    image: mcr.microsoft.com/fluidframework/routerlicious/gitssh:latest
    ports:
      - "3022:22"
    volumes:
      - git:/home/git
    restart: always
volumes:
  git:
    driver: local
