# Compiled typescript
dist
lib

# Logs
logs
*.log

# Dependencies
node_modules

# nyc test coverage
.nyc_output

# GraphQL codegen
# TODO: Determine if/how to change the fluid build scripts to automatically codegen while still being compliant.
# For now, just include the generated code in git
# graphql-generated
