registry=https://registry.npmjs.org/

@ms:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true

@fluidx:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true

@ff-internal:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/
always-auth=true
