registry=https://registry.npmjs.org
always-auth=false

@fluidframework:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/
@fluid-internal:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/
@ff-internal:registry=https://pkgs.dev.azure.com/fluidframework/internal/_packaging/build/npm/registry/
@microsoft:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true
