; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/15/2019.
; begin auth token
//offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/:username=prague
//offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/:_password=${NPM_TOKEN}
//offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/:email=npm requires email to be set but doesn't use the value
//offnet.pkgs.visualstudio.com/_packaging/prague/npm/:username=prague
//offnet.pkgs.visualstudio.com/_packaging/prague/npm/:_password=${NPM_TOKEN}
//offnet.pkgs.visualstudio.com/_packaging/prague/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
@prague:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
always-auth=true