.blinking {
    animation: blinkrecipe 1s linear 15;
}

.brieflyBlinking {
    animation: blinkrecipe 1s linear 2;
}

@keyframes blinkrecipe {
    50% {
        opacity: 0;
    }
}

#hitPlane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.drawSurface {
    touch-action: none;
    /* Disable touch behaviors, like pan and zoom */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.selectable {
    z-index: 1;
}
.collab-document {
    background-color: white;
    position: relative;
}
.canvas-chrome {
    background-color: dimgray;
    position: absolute;
    z-index: 11;
    padding: 5px;
}
.banner {
    color: blue;
}
.stickyNote {
    touch-action: none;
    user-select: none;
    -ms-user-select: none;
    position: absolute;
    color: darkred;
    background-color: yellow;
    box-shadow: none;
    width: 300px;
    height: 300px;
    transform-origin: 0px 0px;
    z-index: 1;
}
.stickySelected {
    box-shadow: 10px 10px 20px #444444;
    z-index: 10;
}
.navbar-shared-text {
    background-color: #f1f1f1;
    min-height: unset;
}
.navbar-shared-text ul {
    padding: 5px 15px;
}
@media (min-width: 768px) {
    .navbar-shared-text ul {
        padding: 5px 0px;
    }
}
.navbar-shared-text ul.list-inline {
    margin-bottom: 0px;
}
.navbar-fluid {
    background-color: #222;
}
.btn-flat {
    border: none;
    background-color: inherit;
    width: 100%;
    height: 100%;
}
.btn-palette {
    border-radius: 0;
    background-color: #333;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
}
.btn-palette:hover {
    background-color: orangered;
}
.fluid-icon {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}
.dropdown-menu > li > a.color-choice {
    width: 100%;
    height: 50px;
}
.dropdown-menu > li > a.color-choice:hover,
.dropdown-menu > li > a.color-choice:focus {
    background-color: inherit;
    background-image: inherit;
}
.dropdown-menu-fluid {
    padding: 0 0;
}
.navbar-nav.navbar-palette {
    margin: 0;
}
.navbar-nav.navbar-palette > li {
    float: left;
}
.typing-details {
    margin-top: 25px;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 300px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    overflow-y: auto;
    resize: none;
    /* enable below lines to make text invisible. */
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
    background: #43a047;
}
.loginbody {
    background: #76b852;
    font-family: "Roboto", sans-serif;
}
.indicatortext {
    color: #fff;
    font-weight: bold;
    display: none;
    /* hide by default */
}
.form .specialmessage {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .specialmessage a {
    color: #4caf50;
    text-decoration: none;
}
div.titleletters {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.titleletter {
    display: inline-block;
    font-weight: 900;
    font-size: 4em;
    margin: 0.2em;
    position: relative;
    color: #4caf50;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}
.titleletter:before,
.titleletter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}
.titleletter,
.titleletter:before,
.titleletter:after {
    transition: all 0.3s ease-in-out;
}
.titleletter:before {
    color: #fff;
    text-shadow: -1px 0px 1px rgba(255, 255, 255, 0.8),
        1px 0px 1px rgba(0, 0, 0, 0.8);
    z-index: 3;
    transform: rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}
.titleletter:after {
    color: rgba(0, 0, 0, 0.11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        skew(0deg, 1deg);
}
.titleletter:hover:before {
    color: #fafafa;
    transform: rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}
.titleletter:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg)
        skew(0deg, 22deg);
}
.status-bar ul {
    padding-left: 0px;
    display: inline-block;
    list-style: none;
}
.status-bar ul li {
    display: inline-block;
    margin-left: 5px;
}
.title-bar {
    display: inline-block;
    padding-top: 6px;
}
.flow-container {
    touch-action: none;
    overflow: hidden;
}
.graph-canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
#parent-canvas {
    width: 100%;
    height: 1200px;
    overflow: auto;
}
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
.slider {
    display: inline !important;
}
.component-link {
    opacity: 0;
}
.component-link:hover {
    opacity: 1;
}
