@ms:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true

@prague:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
always-auth=true

@chaincode:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
always-auth=true

registry=https://outlookweb.pkgs.visualstudio.com/_packaging/owa-npm/npm/registry/
always-auth=true
custom-host-suffix=pkgs.visualstudio.com

