; begin auth token
; The lines between begin and end auth may be stripped by the build server in cases where the NPM_TOKEN
; cannot be provided. In its place the build server will updated the npmrc with the required connection
; strings.
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/:_password=${NPM_TOKEN}
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:username=offnet
//offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/:_password=${NPM_TOKEN}
; end auth token

registry=https://registry.npmjs.org/
always-auth=false

@microsoft:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@microsoft:always-auth=true
