/* =================== */
/* bracket setup       */
/* =================== */
body.bracket #content-wrapper {
  width: 970px;
  padding-top: 10px;
  margin: 0 auto;
}
body.bracket #content-wrapper .content {
  width: 950px;
  padding: 15px 10px;
}
body.bracket {
  font-family: 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;
}
hr.section_hr, div.section_sidebar {
  display: none;
}
body h4 {
  color: #444;
  text-transform: uppercase;
}

.current {
    background-color: rgb(0, 185, 124) !important;
}

table.gridtable {
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #fff;
  border-collapse: collapse;
}
table.gridtable th {
  background-color: #b3d4ef;
  padding: 8px;
  width: 69.4px;
  border: 1px solid #fff;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #fff;
  background-color: #ffffff;
  text-align: center;
}
table.gridtable td.title {
  background: #ccc;
  font-weight: bold;
}

#bracket {
  margin-top: 15px;
  height: 1000px;
  position: relative;
}
#bracket .round {
  position: absolute;
  top: 0;
  width: 950px;
}
#bracket .round strong, #bracket .round strong span.seed, #bracket .round strong span.score {
  color: #4aa5ef;
}
#bracket #round2 {
  left: 115px;
  width: 720px;
}
#bracket #round3 {
  left: 230px;
  width: 490px;
}
#bracket #round4 {
  left: 345px;
  width: 260px;
}
#bracket #round5 {
  left: 280px;
  width: 380px;
}
#bracket #round6 {
  left: 395px;
  width: 150px;
}
#bracket .round .region1 .match, #bracket .round .region2 .match {
  left: 0px;
}
#bracket .round .region3 .match, #bracket .round .region4 .match {
  right: 0px;
}
#bracket .match {
  border: 1px solid #444;
  padding: 0;
  width: 114px;
  position: absolute;
  font-size: 12px;
}
#bracket #round1 .match {
  height: 40px;
}
#bracket #round1 .m1 {
  top: 0;
}
#bracket #round1 .m2 {
  top: 50px;
}
#bracket #round1 .m3 {
  top: 100px;
}
#bracket #round1 .m4 {
  top: 150px;
}
#bracket #round1 .m5 {
  top: 200px;
}
#bracket #round1 .m6 {
  top: 250px;
}
#bracket #round1 .m7 {
  top: 300px;
}
#bracket #round1 .m8 {
  top: 350px;
}
#bracket #round1 .region2 .m1, #bracket #round1 .region4 .m1 {
  top: 550px;
}
#bracket #round1 .region2 .m2, #bracket #round1 .region4 .m2 {
  top: 600px;
}
#bracket #round1 .region2 .m3, #bracket #round1 .region4 .m3 {
  top: 650px;
}
#bracket #round1 .region2 .m4, #bracket #round1 .region4 .m4 {
  top: 700px;
}
#bracket #round1 .region2 .m5, #bracket #round1 .region4 .m5 {
  top: 750px;
}
#bracket #round1 .region2 .m6, #bracket #round1 .region4 .m6 {
  top: 800px;
}
#bracket #round1 .region2 .m7, #bracket #round1 .region4 .m7 {
  top: 850px;
}
#bracket #round1 .region2 .m8, #bracket #round1 .region4 .m8 {
  top: 900px;
}
#bracket #round2 .match {
  height: 40px;
  margin-top: 24px;
}
#bracket #round2 .m1 {
  top: 0;
}
#bracket #round2 .m2 {
  top: 100px;
}
#bracket #round2 .m3 {
  top: 200px;
}
#bracket #round2 .m4 {
  top: 300px;
}
#bracket #round2 .region2 .m1, #bracket #round2 .region4 .m1 {
  top: 550px;
}
#bracket #round2 .region2 .m2, #bracket #round2 .region4 .m2 {
  top: 650px;
}
#bracket #round2 .region2 .m3, #bracket #round2 .region4 .m3 {
  top: 750px;
}
#bracket #round2 .region2 .m4, #bracket #round2 .region4 .m4 {
  top: 850px;
}
#bracket #round3 .match {
  height: 90px;
  margin-top: 50px;
}
#bracket #round3 .m1 {
  top: 0;
}
#bracket #round3 .m2 {
  top: 200px;
}
#bracket #round3 .region2 .m1, #bracket #round3 .region4 .m1 {
  top: 550px;
}
#bracket #round3 .region2 .m2, #bracket #round3 .region4 .m2 {
  top: 750px;
}
#bracket #round4 .match {
  height: 190px;
  margin-top: 100px;
}
#bracket #round4 .m1 {
  top: 0;
}
#bracket #round4 .region2 .m1, #bracket #round4 .region4 .m1 {
  top: 550px;
}
#bracket #round5 .match {
  height: 90px;
  top: 425px;
}
#bracket #round5 .m1 {
  left: 0;
  border-left: none;
}
#bracket #round5 .m2 {
  right: 0;
  border-right: none;
}
#bracket #round6 .match {
  height: 90px;
  top: 425px;
  border: none;
  width: 150px;
  padding: 0;
}
#bracket #round6 .slot {
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px 0 6px;
}
#bracket #round6 .selected {
  font-size: 16px;
  background: #D7E8F0;
}
#bracket #round6 .slot1 {
  border-bottom: 1px solid #666;
  top: 22px;
}
#bracket #round6 .slot2 {
  top: 48px;
}
#bracket #round6 strong, #bracket #round6 strong span.seed, #bracket #round6 strong span.score {
  color: #c52000;
}
#bracket h3, #bracket h4 {
  display: none;
}
#bracket #round1 h4 {
  display: block;
  position: absolute;
  left: 170px;
  top: 165px;
  width: 150px;
}
#bracket #round1 .region3 h4, #bracket #round1 .region4 h4 {
  left: auto;
  right: 170px;
  text-align: right;
}
#bracket #round1 .region2 h4, #bracket #round1 .region4 h4 {
  top: 715px;
}
#bracket .match .slot {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 4px;
}
#bracket .match .slot1 {
  top: 0px;
}
#bracket .match .slot2 {
  bottom: 0px;
}
#bracket .match .score {
  position: absolute;
  right: 4px;
  font-style: normal;
}
#bracket .match .seed {
  color: #777;
  font-size: 10px;
}
#bracket .match .winner, #bracket .match .winner em {
  font-weight: bold;
}
#bracket .region1 .match, #bracket .region2 .match {
  border-left: 0px;
}
#bracket .region3 .match, #bracket .region4 .match {
  border-right: 0px;
}
#bracket .final_pick {
  font-size: 16px;
  background: #fff;
}
#bracket .loser, #bracket strike {
  font-weight: normal;
  color: #777777;
  text-decoration: line-through;
}
#bracket strike a {
  color: #666;
}
