@microsoft:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluid-example:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@fluid-internal:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
@yo-fluid:registry=https://offnet.pkgs.visualstudio.com/officenet/_packaging/fluid/npm/registry/
always-auth=true
