html, body {
	height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.host, .searchMenu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.host {
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: grid;
    grid-template:
      "top"
      "bottom";
    grid-template-rows: 1fr auto;
}

.status {
    grid-area: bottom;
    background: lightblue;
    font-family: sans-serif;
    font-size: x-small;
}

.viewport {
    grid-area: top;
    overflow: auto;
}

.page {
    padding: 0.25in 0.75in 0.75in 0.75in;   
}

.title h1 {
    margin-bottom: 0;
}
.title hr {
    margin-top: 0;
    margin-bottom: 0.1in;
}

.outline {
    outline: 1px dotted #eee;
    padding: 0.1in;
}

.viewport:focus-within {
    outline: 1px dotted #ccc;
}

.slot:focus-within {
    outline: none;
}
