.home .ctas {
    font-size: 2rem;
    font-family: #000000;
    text-align: center;
}

.home .cta {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  display: block;
  color: #444;
}
.cta-icon {
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-bottom: 1rem;
    fill: red;
}

.cta-icon.get-started {
    background-image: url('/images/start.svg');
}

.cta-icon.learn {
    background-image: url('/images/bulb.svg');
}

.cta-icon.play {
    background-image: url('/images/experiment.svg');
}

.cta-icon :hover {
  color: #000000;
  text-decoration: none;
}

