# Replace <your-openai-key> with your OpenAI API key
NEXT_PUBLIC_OPENAI_API_KEY=<your-openai-key>

# If using SharePoint embedded, set these variables.
# Note the NEXT_PUBLIC_ prefix means these get applied to client-side code by NextJS.
NEXT_PUBLIC_SPE_CLIENT_ID=<client-id-of-the-Entra-App-for-SPE>
NEXT_PUBLIC_SPE_ENTRA_TENANT_ID=<id-of-the-Entra-tenant-where-the-app-registration-lives>
NEXT_PUBLIC_SPE_CONTAINER_TYPE_ID=<container-type-Id-in-SPE>
