<div class="container">
  <div class="row" ng-if="map">
    <div class="col-sm-6">
      <pinpoint-map map="map"></pinpoint-map>

      <div>{{lat}}</div>
      <div>{{lon}}</div>
      <div>{{quickstartName}}</div>
    </div>

    <div class="col-sm-6" style="max-width: 600px;">
      <form novalidate name="mapform" class="">
        <div class="panel panel-primary">
          <div class="panel-heading">Quickstart</div>
          <div class="panel-body">
            <p>Search for a location to center the map and add a marker:</p>

            <div class="form-group">
              <google-places
                lat="map.lat" lon="map.lon" location-name="quickstartName" placeholder="Search for location...">
              </google-places>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label for="hed">Hed (if needed)</label>
              <input ng-model="map.hed" id="hed" class="form-control" placeholder="Enter short hed (optional)">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Dek (if needed)</label>
              <input ng-model="map.dek" class="form-control" id="exampleInputPassword1" placeholder="Enter short dek (optional)">
            </div>

            <div class="form-group">
              <label for="noteSource">Note/source (if needed)</label>
              <input ng-model="map.note" class="form-control" id="noteSource" placeholder="Enter short note/source (optional)">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <google-places lat="map.lat" lon="map.lon" placeholder="Set new center by location name..."></google-places>
            </div>

            <div class="form-group">
              <label for="disabledSelect">Zoom level</label>
              <input type="range" min="1" max="20" value="{{map.zoom}}" ng-model="map.zoom">
              <input ng-model="map.zoom" type="number" size="1" class="zoom-input" />
            </div>

            <div class="form-group">
              <label>Map shape: </label>
              <button-group options="aspectRatios" value="map['aspect-ratio']"></button-group>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="checkbox">
              <label>
                <input ng-model="map.minimap" type="checkbox"> Show zoomed-out minimap in corner
              </label>
            </div>
            <div ng-if="map.minimap" class="form-group">
              <label for="disabledSelect">Minimap zoom level</label>
              <input type="range" min="-20" max="-1" value="{{map['minimap-zoom-offset']}}" ng-model="map['minimap-zoom-offset']">
              <span>{{ map.zoom + map['minimap-zoom-offset'] }}</span>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Markers</div>
          <div class="panel-body">
            <div ng-repeat="(i, marker) in map.markers" class="panel panel-primary">
              <div class="panel-heading">
                Marker #{{i+1}}
                <button type="button" role="button" class="btn btn-link delete-marker" ng-click="removeMarker(marker)">Delete</button>
              </div>

              <div class="panel-body">
                <div class="form-group">
                  <google-places lat="marker.lat" lon="marker.lon" location-name="marker.text"
                    placeholder="Search for place..."></google-places>
                </div>

                <div class="form-group">
                  <label for="marker-icon">Icon:</label>
                  <button-group options="icons" value="marker.icon" labels="['Square (feature)','Circle (city)','None']"></button-group>
                </div>

                <div class="form-group">
                  <label for="marker-text">Label text</label>
                  <input ng-model="marker.text" class="form-control" placeholder="Enter short label (optional)" id="marker-text">
                </div>

                <div class="form-group">
                  <label for="marker-label">Label style:</label>
                  <button-group options="labels" value="marker.label"></button-group>
                </div>

                <div class="form-group">
                  <label for="marker-label-direction">Label direction</label>
                  <select ng-model="marker['label-direction']" ng-options="x for x in directions[marker.label]"></select>
                </div>
              </div>
            </div>

            <button type="button" role="button" class="btn btn-default" ng-click="addMarker()" ng-if="map.markers.length === 0">Add
              marker</button>
            <button type="button" role="button" class="btn btn-default" ng-click="addMarker()" ng-if="map.markers.length < 5 && map.markers.length > 0">Add
              another marker</button>
          </div>
        </div>

        <!-- <geojson-input geojson="map.geojson"></geojson-input> -->
      </form>
    </div>
  </div>
</div>