.viewport {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    grid-template-areas:
      "main scrollbar";
    overflow-y: hidden;
}
  
.viewportSlot {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-area: main;
}