table.gridtable {
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #fff;
  border-collapse: collapse;
}
table.gridtable th {
  background-color: #b3d4ef;
  padding: 8px;
  width: 69.4px;
  border: 1px solid #fff;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #fff;
  background-color: #ffffff;
  text-align: center;
}
table.gridtable td.title {
  background: #ccc;
  font-weight: bold;
}

.current {
  background-color: rgb(0, 185, 124) !important;
}
