@ms:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true

@prague:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
always-auth=true

@chaincode:registry=https://offnet.pkgs.visualstudio.com/_packaging/prague/npm/registry/
always-auth=true