html {
    background-color: #2c2c32;
    overflow-y:scroll;
}

footer {
    background-color: #2c2c32;
}

.home .ctas {
    font-size: 2rem;
    font-family: #000000;
    text-align: center;
    background-color: #404049;
}

.home .cta {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    display: block;
    color:#f3f5f7;
}

.filler {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.no-gutters {
    padding-right: 0;
    padding-left: 0;
}

.cta:hover {
    background:red;
    text-decoration: none;
}

.cta.get-started {
    background: #404049;
}

.cta.get-started:hover,
.cta.learn-more:hover,
.cta.play:hover
    {
    background: #5a5a66;
}

.cta.play {
    background: #404049;
}

.cta.learn-more {
    background: #404049;
}

.cta-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    width: 15rem;
    height: 10rem;
    margin: auto;
    margin-bottom: 1rem;
    display: block;
}

.cta-icon.get-started {
    background-image: url("/images/PlayCircle.svg");
}

.cta-icon.learn-more {
    background-image: url("/images/Lightbulb.svg");
}

.cta-icon.play {
    background-image: url("/images/Beaker.svg");
}

#github.swimlane .screenshot {
    max-height: 150px;
}
#stackoverflow.swimlane .screenshot {
    max-height: 150px;
}

.callout.danger,
.callout.important,
.callout.note,
.callout.tip,
.callout.warning {
    padding: 0.1rem 1.5rem;
    border-left-width: 1rem;
    border-left-style: solid;
    margin: 2rem 0;
}

.callout {
    font-size: 1.6rem;
}

.callout .callout-title {
    line-height: 1.7;
    font-weight: 600;
    margin: 1rem 0;
}

.callout.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
}

.callout.important {
    background-color: #f3f5f7;
    border-color: #00bcf2;
}

.callout.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
}

.callout.note {
    border-color: #2c3e50;
}

.callout.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: #e7c000;
    color: #6b5900;
}

.callout.warning .callout-title {
    color: #b29400;
}

.callout.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
}

.callout.danger .callout-title {
    color: #900;
}

.highlight {
    position: relative;
}

.highlight-copy-btn {
    position: absolute;
    right: 7px;
    border: 0;
    border-radius: 4px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}

.highlight-copy-btn:hover {
    background-color: #666;
}
