:root {
	/* Color changes made for contrast accessibility: */
	--green: #008000; /* original: #4e9a06 */
	--orange-dark: #b45701; /* original: #ce5c00*/
	--orange: #c84600; /* original: #f57900*/
	--gold: #916c02; /* original: #c4a000 */

	/* Original colors */
	--brown: #8f5902;
	--blue: #204a87;
	--blue-bright: #0000cf;
	--blue-dim: #3465a4;
	--blue-dark: #000080;
	--black: #000;
	--error: #a40000;
	--purple: #5c35cc;
	--purple-dark: #800080;
}

/* Background */
.chroma {
	background-color: #f8f8f8;
}
/* Other */
.chroma .x {
	color: var(--black);
}
/* Error */
.chroma .err {
	color: var(--error);
}
/* LineTableTD */
.chroma .lntd {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0;
}
/* LineTable */
.chroma .lntable {
	border-spacing: 0;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
	overflow: auto;
	display: block;
}
/* LineHighlight */
.chroma .hl {
	display: block;
	width: 100%;
	background-color: #ffffcc;
}
/* LineNumbersTable */
.chroma .lnt {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	color: #7f7f7f;
}
/* LineNumbers */
.chroma .ln {
	margin-right: 0.4em;
	padding: 0 0.4em 0 0.4em;
	color: #727272;
}
/* Keyword */
.chroma .k {
	color: var(--blue);
	font-weight: bold;
}
/* KeywordConstant */
.chroma .kc {
	color: var(--blue);
	font-weight: bold;
}
/* KeywordDeclaration */
.chroma .kd {
	color: var(--blue);
	font-weight: bold;
}
/* KeywordNamespace */
.chroma .kn {
	color: var(--blue);
	font-weight: bold;
}
/* KeywordPseudo */
.chroma .kp {
	color: var(--blue);
	font-weight: bold;
}
/* KeywordReserved */
.chroma .kr {
	color: var(--blue);
	font-weight: bold;
}
/* KeywordType */
.chroma .kt {
	color: var(--blue);
	font-weight: bold;
}
/* Name */
.chroma .n {
	color: var(--black);
}
/* NameAttribute */
.chroma .na {
	color: var(--gold);
}
/* NameBuiltin */
.chroma .nb {
	color: var(--blue-dim);
}
/* NameBuiltinPseudo */
.chroma .bp {
	color: var(--blue-dim);
}
/* NameClass */
.chroma .nc {
	color: var(--blue);
}
/* NameConstant */
.chroma .no {
	color: var(--black);
}
/* NameDecorator */
.chroma .nd {
	color: var(--purple);
	font-weight: bold;
}
/* NameEntity */
.chroma .ni {
	color: var(--orange-dark);
}
/* NameException */
.chroma .ne {
	color: var(--error);
	font-weight: bold;
}
/* NameFunction */
.chroma .nf {
	color: var(--black);
}
/* NameFunctionMagic */
.chroma .fm {
	color: var(--black);
}
/* NameLabel */
.chroma .nl {
	color: var(--orange);
}
/* NameNamespace */
.chroma .nn {
	color: var(--black);
}
/* NameOther */
.chroma .nx {
	color: var(--black);
}
/* NameProperty */
.chroma .py {
	color: var(--black);
}
/* NameTag */
.chroma .nt {
	color: var(--blue);
	font-weight: bold;
}
/* NameVariable */
.chroma .nv {
	color: var(--black);
}
/* NameVariableClass */
.chroma .vc {
	color: var(--black);
}
/* NameVariableGlobal */
.chroma .vg {
	color: var(--black);
}
/* NameVariableInstance */
.chroma .vi {
	color: var(--black);
}
/* NameVariableMagic */
.chroma .vm {
	color: var(--black);
}
/* Literal */
.chroma .l {
	color: var(--black);
}
/* LiteralDate */
.chroma .ld {
	color: var(--black);
}
/* LiteralString */
.chroma .s {
	color: var(--green);
}
/* LiteralStringAffix */
.chroma .sa {
	color: var(--green);
}
/* LiteralStringBacktick */
.chroma .sb {
	color: var(--green);
}
/* LiteralStringChar */
.chroma .sc {
	color: var(--green);
}
/* LiteralStringDelimiter */
.chroma .dl {
	color: var(--green);
}
/* LiteralStringDoc */
.chroma .sd {
	color: var(--brown);
	font-style: italic;
}
/* LiteralStringDouble */
.chroma .s2 {
	color: var(--green);
}
/* LiteralStringEscape */
.chroma .se {
	color: var(--green);
}
/* LiteralStringHeredoc */
.chroma .sh {
	color: var(--green);
}
/* LiteralStringInterpol */
.chroma .si {
	color: var(--green);
}
/* LiteralStringOther */
.chroma .sx {
	color: var(--green);
}
/* LiteralStringRegex */
.chroma .sr {
	color: var(--green);
}
/* LiteralStringSingle */
.chroma .s1 {
	color: var(--green);
}
/* LiteralStringSymbol */
.chroma .ss {
	color: var(--green);
}
/* LiteralNumber */
.chroma .m {
	color: var(--blue-bright);
	font-weight: bold;
}
/* LiteralNumberBin */
.chroma .mb {
	color: var(--blue-bright);
	font-weight: bold;
}
/* LiteralNumberFloat */
.chroma .mf {
	color: var(--blue-bright);
	font-weight: bold;
}
/* LiteralNumberHex */
.chroma .mh {
	color: var(--blue-bright);
	font-weight: bold;
}
/* LiteralNumberInteger */
.chroma .mi {
	color: var(--blue-bright);
	font-weight: bold;
}
/* LiteralNumberIntegerLong */
.chroma .il {
	color: var(--blue-bright);
	font-weight: bold;
}
/* LiteralNumberOct */
.chroma .mo {
	color: var(--blue-bright);
	font-weight: bold;
}
/* Operator */
.chroma .o {
	color: var(--orange-dark);
	font-weight: bold;
}
/* OperatorWord */
.chroma .ow {
	color: var(--blue);
	font-weight: bold;
}
/* Punctuation */
.chroma .p {
	color: var(--black);
	font-weight: bold;
}
/* Comment */
.chroma .c {
	color: var(--brown);
	font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
	color: var(--brown);
	font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
	color: var(--brown);
	font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
	color: var(--brown);
	font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
	color: var(--brown);
	font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
	color: var(--brown);
	font-style: italic;
}
/* CommentPreprocFile */
.chroma .cpf {
	color: var(--brown);
	font-style: italic;
}
/* Generic */
.chroma .g {
	color: var(--black);
}
/* GenericDeleted */
.chroma .gd {
	color: var(--error);
}
/* GenericEmph */
.chroma .ge {
	color: var(--black);
	font-style: italic;
}
/* GenericError */
.chroma .gr {
	color: var(--error);
}
/* GenericHeading */
.chroma .gh {
	color: var(--blue-dark);
	font-weight: bold;
}
/* GenericInserted */
.chroma .gi {
	color: var(--green);
}
/* GenericOutput */
.chroma .go {
	color: var(--black);
	font-style: italic;
}
/* GenericPrompt */
.chroma .gp {
	color: var(--brown);
}
/* GenericStrong */
.chroma .gs {
	color: var(--black);
	font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
	color: var(--purple-dark);
	font-weight: bold;
}
/* GenericTraceback */
.chroma .gt {
	color: var(--error);
	font-weight: bold;
}
/* GenericUnderline */
.chroma .gl {
	color: var(--black);
	text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
	color: #f8f8f8;
	text-decoration: underline;
}
