@ms:registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
//office.pkgs.visualstudio.com/_packaging/Office/npm/registry/:always-auth=true

registry=https://office.pkgs.visualstudio.com/_packaging/Office/npm/registry/
always-auth=true