{
  "rules": {
    "max-lines-per-function": 0,
    "no-loop-func": 0,
    "complexity": 0,
    "no-control-regex": 0,
    "arrow-parens": [
      2,
      "always"
    ],
    "no-var": "error",
    "max-statements-per-line": 1,
    "max-nested-callbacks": 1,
    "no-empty": [2, { "allowEmptyCatch": false }],
    "block-scoped-var": "error",
    "handle-callback-err": "error",
    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "es6": true
    }
  }
}
