engine-strict=true
frozen-lockfile=true
strict-peer-dependencies=true

# Disable pnpm update notifications since we use corepack to install package managers
update-notifier=false
# Don't use new lockfile format because component governance does not yet support it
use-lockfile-v6=false
