name: Unhandled Promise Alert!
type: frequency
index: logstash-*
num_events: 1
timeframe:
  minutes: 1
filter:
  - query:
      query_string:
        query: "*UnhandledPromiseRejection*"
alert:
  - "email"
  - "debug"
realert:
  hours: 24
email:
  - list_of_emails_to_send_alert
