## Fluid image version
image: prague.azurecr.io/prague-server:latest

## Specify a imagePullPolicy
## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
imagePullPolicy: IfNotPresent

name: routerlicious

alfred:
  name: alfred
  replicas: 4
  externalUrl: alfred_external_url
  host: alfred_host
  cert: cert
  tenants: []
  key: jwt_key
  maxNumberOfClientsPerDocument: 1000000
  numberOfMessagesPerTrace: 100
  throttling:
    restCalls:
        maxPerMs: 1000000
        maxBurst: 1000000
        minCooldownIntervalInMs: 1000000
        minThrottleIntervalInMs: 1000000
    socketConnections:
        maxPerMs: 1000000
        maxBurst: 1000000
        minCooldownIntervalInMs: 1000000
        minThrottleIntervalInMs: 1000000
    submitOps:
        maxPerMs: 1000000
        maxBurst: 1000000
        minCooldownIntervalInMs: 1000000
        minThrottleIntervalInMs: 1000000
    submitSignal:
        maxPerMs: 1000000
        maxBurst: 1000000
        minCooldownIntervalInMs: 1000000
        minThrottleIntervalInMs: 1000000
  socketIoAdapter:
    enableCustomSocketIoAdapter: true
    shouldDisableDefaultNamespace: false
  enforceServerGeneratedDocumentId: false
  socketIo:
    perMessageDeflate: true
storage:
  enableWholeSummaryUpload: false
  storageUrl: storage_url

session:
  enforceDiscoveryFlow: false

deli:
  name: deli
  replicas: 8

scriptorium:
  name: scriptorium
  replicas: 8

scribe:
  name: scribe
  replicas: 8

foreman:
  name: foreman
  replicas: 8

riddler:
  name: riddler
  replicas: 2
  tenants: []

historian:
  externalUrl: historian_external_url
  internalUrl: historian_internal_url

zookeeper:
  local: false
  url: zookeeper_url:port

system:
  httpServer:
    connectionTimeout: 0

usage:
  clientConnectivityCountingEnabled: false
  signalUsageCountingEnabled: false

mongodb:
  operationsDbEndpoint: mongodb_url
  globalDbEndpoint: mongoglobaldb_url
  globalDbEnabled: false
  expireAfterSeconds: -1
  createCosmosDBIndexes: false
  bufferMaxEntries: 50
  softDeletionRetentionPeriodMs: 2592000000
  offlineWindowMs: 86400000
  softDeletionEnabled: false
  permanentDeletionEnabled: false
  deletionIntervalMs: 3600000

rabbitmq:
  connectionString: ""

redis:
  url: redis_url
  port: 6379
  tls: false

redis2:
  url: redis_url
  port: 6379
  tls: false

redisForThrottling:
  url: redis_url
  port: 6379
  tls: false

kafka:
  topics:
    rawdeltas: rawdeltas
    deltas: deltas
  url: kafka_url:port
  libname: rdkafka

ingress:
  class: nginx-prod

error:
  track: true
  endpoint: "error_tracking_endpoint"
