html, body {
	height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.host, .viewport {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.host {
    margin: 0.75in;   
}

.viewport {
    outline: 1px dotted #eee;
    padding: 0.1in;
}

.viewport:focus-within {
    background: white;
    outline: 1px dotted #ccc;
}

.slot {
    white-space: pre-wrap;
}

.slot:last-child::after {
    content: "ᅜ";
    color: #ccc;
    padding: 0px 2px 0px 3px;
}

.slot:focus-within {
    outline: none;
}

.search {

}

.bold {
    font-weight: bold;
}

p::before, ol::before, li::before {
    border: 1px solid #d97;
    background: #d97;
}

p::after, ol::after, li::after { 
    border: 1px solid #796;
    background: #796;
}

p::before, p::after, ol::before, ol::after, li::before, li::after {
    color: white;
    font-size: 0.4em;
    vertical-align: middle;
    border-radius: 1em;
}

p::before { content: "<p>"; display: table }
p::after { content: "</p>"; display: table }
b::before { content: "<b>" }
b::after { content: "</b>" }
ol::before { content: "<ol>" }
ol::after { content: "</ol>" }
li::before { content: "<li>" }
li::after { content: "</li>" }
