apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "routerlicious.fullname" . }}
  labels:
    app: {{ template "routerlicious.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Values.name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  config.json: |
    {
        "logger": {
            "colorize": false,
            "morganFormat": "json",
            "json": true,
            "level": "info",
            "timestamp": false,
            "label": "winston"
        },
        "mongo": {
            "operationsDbEndpoint": "{{ .Values.mongodb.operationsDbEndpoint }}",
            "globalDbEndpoint": "{{ .Values.mongodb.globalDbEndpoint }}",
            "globalDbEnabled": {{ .Values.mongodb.globalDbEnabled }},
            "expireAfterSeconds": {{ .Values.mongodb.expireAfterSeconds }},
            "createCosmosDBIndexes": {{ .Values.mongodb.createCosmosDBIndexes }},
            "bufferMaxEntries": {{ .Values.mongodb.bufferMaxEntries }},
            "softDeletionRetentionPeriodMs": {{ .Values.mongodb.softDeletionRetentionPeriodMs }},
            "offlineWindowMs": {{ .Values.mongodb.offlineWindowMs }},
            "softDeletionEnabled": {{ .Values.mongodb.softDeletionEnabled }},
            "permanentDeletionEnabled": {{ .Values.mongodb.permanentDeletionEnabled }},
            "deletionIntervalMs": {{ .Values.mongodb.deletionIntervalMs }},
            "collectionNames": {
                "deltas": "deltas",
                "documents": "documents",
                "partitions": "partitions",
                "tenants": "tenants",
                "nodes": "nodes",
                "reservations": "reservations",
                "scribeDeltas": "scribeDeltas"
            }
        },
        "kafka": {
            "lib": {
                "name": "{{ .Values.kafka.libname }}",
                "endpoint": "{{ .Values.kafka.url }}",
                "producerPollIntervalMs": 10,
                "numberOfPartitions": 32,
                "replicationFactor": 3,
                "rdkafkaOptimizedRebalance": true,
                "rdkafkaAutomaticConsume": true,
                "rdkafkaConsumeTimeout": 5,
                "rdkafkaMaxConsumerCommitRetries": 10
            }
        },
        "zookeeper": {
            "endpoint": "{{ .Values.zookeeper.url }}"
        },
        "storage": {
            "enableWholeSummaryUpload": {{ .Values.storage.enableWholeSummaryUpload }},
            "storageUrl": "{{ .Values.storage.storageUrl }}"
        },
        "alfred": {
            "kafkaClientId": "{{ template "alfred.fullname" . }}",
            "maxMessageSize": "16KB",
            "maxNumberOfClientsPerDocument": {{ .Values.alfred.maxNumberOfClientsPerDocument }},
            "numberOfMessagesPerTrace": {{ .Values.alfred.numberOfMessagesPerTrace }},
            "sessionStickinessDurationMs": {{ .Values.alfred.sessionStickinessDurationMs }},
            "throttling": {
                "restCalls": {
                    "maxPerMs": {{ .Values.alfred.throttling.restCalls.maxPerMs }},
                    "maxBurst": {{ .Values.alfred.throttling.restCalls.maxBurst }},
                    "minCooldownIntervalInMs": {{ .Values.alfred.throttling.restCalls.minCooldownIntervalInMs }},
                    "minThrottleIntervalInMs": {{ .Values.alfred.throttling.restCalls.minThrottleIntervalInMs }}
                },
                "socketConnections": {
                    "maxPerMs": {{ .Values.alfred.throttling.socketConnections.maxPerMs }},
                    "maxBurst": {{ .Values.alfred.throttling.socketConnections.maxBurst }},
                    "minCooldownIntervalInMs": {{ .Values.alfred.throttling.socketConnections.minCooldownIntervalInMs }},
                    "minThrottleIntervalInMs": {{ .Values.alfred.throttling.socketConnections.minThrottleIntervalInMs }}
                },
                "submitOps": {
                    "maxPerMs": {{ .Values.alfred.throttling.submitOps.maxPerMs }},
                    "maxBurst": {{ .Values.alfred.throttling.submitOps.maxBurst }},
                    "minCooldownIntervalInMs": {{ .Values.alfred.throttling.submitOps.minCooldownIntervalInMs }},
                    "minThrottleIntervalInMs": {{ .Values.alfred.throttling.submitOps.minThrottleIntervalInMs }}
                },
                "submitSignal": {
                    "maxPerMs": {{ .Values.alfred.throttling.submitSignal.maxPerMs }},
                    "maxBurst": {{ .Values.alfred.throttling.submitSignal.maxBurst }},
                    "minCooldownIntervalInMs": {{ .Values.alfred.throttling.submitSignal.minCooldownIntervalInMs }},
                    "minThrottleIntervalInMs": {{ .Values.alfred.throttling.submitSignal.minThrottleIntervalInMs }}
                }
            },
            "topic": "{{ .Values.kafka.topics.rawdeltas }}",
            "bucket": "snapshots",
            "restJsonSize": "50mb",
            "key": "{{ .Values.alfred.key }}",
            "tenants": [
                {{- $lastIndex := sub (len .Values.alfred.tenants) 1}}
                {{- range $i, $tenant := .Values.alfred.tenants }}
                {{ toJson . }}{{- if ne $i $lastIndex -}}, {{ end }}
                {{- end }}
            ],
            "socketIoAdapter" : {
                "enableCustomSocketIoAdapter": {{ .Values.alfred.socketIoAdapter.enableCustomSocketIoAdapter }},
                "shouldDisableDefaultNamespace": {{ .Values.alfred.socketIoAdapter.shouldDisableDefaultNamespace }}
            },
            "enforceServerGeneratedDocumentId": {{ .Values.alfred.enforceServerGeneratedDocumentId }},
            "socketIo" : {
                "perMessageDeflate": {{ .Values.alfred.socketIo.perMessageDeflate}}
            }
        },
        "client": {
            "type": "browser",
            "permission": []
        },
        "deli": {
            "topics": {
                "receive": "{{ .Values.kafka.topics.rawdeltas }}",
                "send": "{{ .Values.kafka.topics.deltas }}"
            },
            "kafkaClientId": "{{ template "deli.fullname" . }}",
            "groupId": "{{ template "deli.fullname" . }}",
            "checkpointBatchSize": 10,
            "checkpointTimeIntervalMsec": 1000
        },
        "scribe": {
            "kafkaClientId": "{{ template "scribe.fullname" . }}"
        },
        "system": {
            "httpServer": {
                "connectionTimeout": {{ .Values.system.httpServer.connectionTimeout }}
            },
            "topics": {
                "send": "{{ .Values.kafka.topics.deltas }}"
            }
        },
        "usage": {
            "clientConnectivityCountingEnabled": "{{ .Values.usage.clientConnectivityCountingEnabled }}",
            "signalUsageCountingEnabled": {{ .Values.usage.signalUsageCountingEnabled }}
        },
        "auth": {
            "endpoint": "http://{{ template "riddler.fullname" . }}",
            "maxTokenLifetimeSec": 3600,
            "enableTokenExpiration": false
        },
        "lambdas": {
            "deli": {
                "group": "{{ template "deli.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.rawdeltas }}"
            },
            "scriptorium": {
                "group": "{{ template "scriptorium.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            },
            "scribe": {
                "group": "{{ template "scribe.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            },
            "foreman": {
                "group": "{{ template "foreman.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            }
        },
        "scriptorium": {
            "topic": "{{ .Values.kafka.topics.deltas }}",
            "kafkaClientId": "{{ template "scriptorium.fullname" . }}",
            "groupId": "{{ template "scriptorium.fullname" . }}",
            "checkpointBatchSize": 1,
            "checkpointTimeIntervalMsec": 1000
        },
        "foreman": {
            "alfred": "http://{{ template "alfred.fullname" . }}",
            "topic": "{{ .Values.kafka.topics.deltas }}",
            "kafkaClientId": "{{ template "foreman.fullname" . }}",
            "groupId": "{{ template "foreman.fullname" . }}",
            "queues": ["paparazziQueue", "augloopQueue", "headlessQueue"],
            "permissions": {
                "paparazziQueue": ["snapshot", "spell", "intel", "translation"],
                "augloopQueue": ["augmentation"],
                "headlessQueue": ["chain-snapshot", "chain-intel", "chain-translation", "chain-spell", "chain-cache", "chain-search"]
            }
        },
        "paparazzi": {
            "queue": "paparazziQueue"
        },
        "rabbitmq": {
            "connectionString": "{{ .Values.rabbitmq.connectionString }}"
        },
        "riddler": {
            "port": 5000
        },
        "redis": {
            "host": "{{ .Values.redis.url }}",
            "port": "{{ .Values.redis.port }}",
            "pass": "{{ .Values.redis.password }}",
            "tls": {{ .Values.redis.tls }}
        },
        "redis2": {
            "host": "{{ .Values.redis2.url }}",
            "port": "{{ .Values.redis2.port }}",
            "pass": "{{ .Values.redis2.password }}",
            "tls": {{ .Values.redis2.tls }}
        },
        "redisForThrottling": {
            "host": "{{ .Values.redisForThrottling.url }}",
            "port": "{{ .Values.redisForThrottling.port }}",
            "pass": "{{ .Values.redisForThrottling.password }}",
            "tls": {{ .Values.redisForThrottling.tls }}
        },
        "error": {
            "track": {{ .Values.error.track }},
            "endpoint": "{{ .Values.error.endpoint }}"
        },
        "worker": {
            "alfredUrl": "http://{{ template "alfred.fullname" . }}",
            "serverUrl": "{{ .Values.alfred.externalUrl }}",
            "blobStorageUrl": "{{ .Values.historian.externalUrl }}",
            "internalBlobStorageUrl": "{{ .Values.historian.internalUrl }}",
            "permission": ["snapshot", "spell", "intel", "translation", "search", "chain-snapshot", "chain-spell", "chain-intel", "chain-translation", "chain-search"],
            "enforceDiscoveryFlow": {{ .Values.session.enforceDiscoveryFlow }}
        },
        "tenantConfig": [
            {{- $lastIndex := sub (len .Values.riddler.tenants) 1}}
            {{- range $i, $tenant := .Values.riddler.tenants }}
            {{ toJson . }}{{- if ne $i $lastIndex -}}, {{ end }}
            {{- end }}
        ]
    }
