apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "routerlicious.fullname" . }}
  labels:
    app: {{ template "routerlicious.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Values.name }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  config.json: |
    {
        "logger": {
            "colorize": false,
            "morganFormat": "short",
            "json": true,
            "level": "info",
            "timestamp": false,
            "label": "winston"
        },
        "gateway": {
            "url": "{{ .Values.gateway.externalUrl }}"
        },
        "mongo": {
            "endpoint": "{{ .Values.mongodb.url }}",
            "collectionNames": {
                "deltas": "deltas",
                "documents": "documents",
                "partitions": "partitions",
                "tenants": "tenants",
                "nodes": "nodes",
                "reservations": "reservations",
                "scribeDeltas": "scribeDeltas"
            }
        },
        "kafka": {
            "lib": {
                "name": "kafka-node",
                "endpoint": "{{ .Values.kafka.url }}"
            },
            "maxMessageSize": "1MB"
        },
        {{- if .Values.eventHub }}
        "eventHub": {
            "endpoint": "{{ .Values.eventHub.endpoint }}",
            "storageEndpoint": "{{ .Values.eventHub.storageEndpoint }}",
            "storageContainer": "{{ .Values.eventHub.storageContainer }}"
        },
        {{- end }}
        "alfred": {
            "kafkaClientId": "{{ template "alfred.fullname" . }}",
            "maxMessageSize": "16KB",
            "topic": "{{ .Values.kafka.topics.rawdeltas }}",
            "bucket": "snapshots",
            "restJsonSize": "50mb",
            "key": "{{ .Values.alfred.key }}",
            "tenants": [
                {{- $lastIndex := sub (len .Values.alfred.tenants) 1}}
                {{- range $i, $tenant := .Values.alfred.tenants }}
                {{ toJson . }}{{- if ne $i $lastIndex -}}, {{ end }}
                {{- end }}
            ]
        },
        "client": {
            "type": "browser",
            "permission": []
        },
        "login": {
            "enabled": true,
            "microsoft": {
                "clientId": "{{ .Values.login.microsoft.clientId }}",
                "secret": "{{ .Values.login.microsoft.secret }}"
            },
            "accounts": [
                {
                    "username": "{{ .Values.login.accounts.username }}",
                    "password": "{{ .Values.login.accounts.password }}"
                }
            ]
        },
        "deli": {
            "topics": {
                "receive": "{{ .Values.kafka.topics.rawdeltas }}",
                "send": "{{ .Values.kafka.topics.deltas }}"
            },
            "kafkaClientId": "{{ template "deli.fullname" . }}",
            "groupId": "{{ template "deli.fullname" . }}",
            "checkpointBatchSize": 10,
            "checkpointTimeIntervalMsec": 1000
        },
        "scribe": {
            "kafkaClientId": "{{ template "scribe.fullname" . }}"
        },
        "system": {
            "topics": {
                "send": "{{ .Values.kafka.topics.deltas }}"
            }
        },
        "auth": {
            "endpoint": "http://{{ template "riddler.fullname" . }}"
        },
        "routemaster": {
            "topics": {
                "receive": "{{ .Values.kafka.topics.deltas }}",
                "send": "{{ .Values.kafka.topics.rawdeltas }}"
            },
            "clientId": "{{ template "routemaster.fullname" . }}",
            "groupId": "{{ template "routemaster.fullname" . }}",
            "checkpointBatchSize": 10,
            "checkpointTimeIntervalMsec": 1000
        },
        "lambdas": {
            "deli": {
                "group": "{{ template "deli.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.rawdeltas }}"
            },
            "routemaster": {
                "group": "{{ template "routemaster.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            },
            "scriptorium": {
                "group": "{{ template "scriptorium.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            },
            "scribe": {
                "group": "{{ template "scribe.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            },
            "foreman": {
                "group": "{{ template "foreman.fullname" . }}",
                "topic": "{{ .Values.kafka.topics.deltas }}"
            }
        },
        "scriptorium": {
            "topic": "{{ .Values.kafka.topics.deltas }}",
            "kafkaClientId": "{{ template "scriptorium.fullname" . }}",
            "groupId": "{{ template "scriptorium.fullname" . }}",
            "checkpointBatchSize": 1,
            "checkpointTimeIntervalMsec": 1000
        },
        "foreman": {
            "alfred": "http://{{ template "alfred.fullname" . }}",
            "topic": "{{ .Values.kafka.topics.deltas }}",
            "kafkaClientId": "{{ template "foreman.fullname" . }}",
            "groupId": "{{ template "foreman.fullname" . }}",
            "queues": ["paparazziQueue", "augloopQueue", "headlessQueue"],
            "permissions": {
                "paparazziQueue": ["snapshot", "spell", "intel", "translation"],
                "augloopQueue": ["augmentation"],
                "headlessQueue": ["chain-snapshot", "chain-intel", "chain-translation", "chain-spell", "chain-cache"]
            }
        },
        "paparazzi": {
            "queue": "paparazziQueue"
        },
        "rabbitmq": {
            "connectionString": "{{ .Values.rabbitmq.connectionString }}"
        },
        "riddler": {
            "port": 5000,
            "key": "symmetric_key"
        },
        "redis": {
            "host": "{{ .Values.redis.url }}",
            "port": "{{ .Values.redis.port }}",
            "pass": "{{ .Values.redis.password }}",
            "tls": {{ .Values.redis.tls }}
        },
        "redis2": {
            "host": "{{ .Values.redis2.url }}",
            "port": "{{ .Values.redis2.port }}",
            "pass": "{{ .Values.redis2.password }}",
            "tls": {{ .Values.redis2.tls }}
        },
        "error": {
            "track": {{ .Values.error.track }},
            "endpoint": "{{ .Values.error.endpoint }}"
        },
        "worker": {
            "intelligence": {
                "textAnalytics": {
                    "key": "{{ .Values.worker.intelligence.textAnalytics.key }}"
                },
                "translation": {
                    "key": "{{ .Values.worker.intelligence.translation.key }}"
                }
            },
            "alfredUrl": "http://{{ template "alfred.fullname" . }}",
            "serverUrl": "{{ .Values.alfred.externalUrl }}",
            "blobStorageUrl": "{{ .Values.historian.externalUrl }}",
            "internalBlobStorageUrl": "{{ .Values.historian.internalUrl }}",
            "repository": "FluidFramework",
            "clusterNpm": "{{ .Values.worker.clusterNpm }}",
            "npm": "{{ .Values.worker.npm }}",
            "permission": ["snapshot", "spell", "intel", "translation", "chain-snapshot", "chain-spell", "chain-intel", "chain-translation"]
        },
        "tenantConfig": [
            {{- $lastIndex := sub (len .Values.riddler.tenants) 1}}
            {{- range $i, $tenant := .Values.riddler.tenants }}
            {{ toJson . }}{{- if ne $i $lastIndex -}}, {{ end }}
            {{- end }}
        ],
        "metric": {
            "client": "telegraf",
            "telegraf": {
                "host": "polling-telegraf-service.metric",
                "port": 8094
            }
        },
        "minio": {
            "endpoint": "{{ .Values.minio.endpoint }}",
            "port": 9000,
            "accessKey": "{{ .Values.minio.accessKey }}",
            "secretKey": "{{ .Values.minio.secretKey }}",
            "bucket": "agents"
        }
    }
