This issue is automatically updated with a preview of the release notes for the upcoming Fluid Framework release.

> [!TIP]
> To generate release notes locally, run the following command:
>
> ```shell
> pnpm flub generate releaseNotes -g client -t minor --out RELEASE_NOTES/{{ version }}.md
> ```

---
