# `.env` file template.
# Copy these contents into a local `.env` file in this directoy and fill in the values as needed.
# `.env` is configured to be git-ignored. Please do not override this behavior.

# Flag that determines whether or not repo-local API documentation should be generated and included in the site build.
# Only used in local development.
LOCAL_API_DOCS=<boolean>

# Key used to authenticate with the Azure Application Insights API. Refer to README.md for more information.
INSTRUMENTATION_KEY=<instrumentation_key>
