.hugo_build.lock
assets/doc-models/*.json
bin/
content/docs/apis/
node_modules/
public/
scripts/api-documenter/temp
themes/thxvscode/assets/js/node_modules/

# Windows ADS files in docs.
**/*:Zone.Identifier
