engine-strict=true
frozen-lockfile=true
strict-peer-dependencies=true

# Disable pnpm update notifications since we use corepack to install package managers
update-notifier=false

@wcp:registry=https://1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/registry/
always-auth=true
