engine-strict=true
frozen-lockfile=true
strict-peer-dependencies=true

# Disable pnpm update notifications since we use corepack to install package managers
update-notifier=false

@wcp:registry=https://1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/registry/
always-auth=true

//1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/registry/:username=1esSharedAssets
//1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/registry/:_password=process.env.NPM_PAT
//1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/registry/:email=process.env.NPM_EMAIL
//1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/:username=1esSharedAssets
//1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/:_password=process.env.NPM_PAT
//1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/WebCompliance/npm/:email=process.env.NPM_EMAIL
