baseURL: "https://fluidframework.com/"
languageCode: "en-us"
refLinksErrorLevel: "WARNING"
theme: "thxvscode"
title: "Fluid Framework"
titleCaseStyle: "Chicago"

permalinks:
  page: "/:slug"
  post: "/:year/:month/:title"

params:
  appInsightKey: ""  # This is provided by the build system as an env variable
  customCSS: ["css/fluid.css", "css/tango.css"]
  dateform: "Jan 2, 2006"
  dateformNum: "2006-01-02"
  dateformNumTime: "2006-01-02 15:04 -0700"
  dateformShort: "Jan 2"
  githubRepo: "microsoft/FluidFramework"
  twitterHandle: "fluidframework"

menu:
  main:
  - name: "Getting started"
    url: "/docs/start/quick-start/"
    weight: -100
  - name: "Recipes"
    url: "/docs/recipes/react/"
    weight: -90
  - name: "Docs"
    url: "/docs/"
    weight: -80
  - name: "Community"
    url: "/community/"
    weight: -60
#  - name: "Updates"
#    url: "/posts/"
#    weight: -50

  old_section:
  - identifier: "quick-start"
    name: "Quick Start"
    url: "/start/quick-start/"
    weight: -800
  - identifier: "tutorial"
    name: "Tutorial"
    url: "/start/tutorial/"
    weight: -700
  - identifier: "examples"
    name: "Examples"
    url: "/start/examples/"
    weight: -600

  # this menu supplements one generated in the apiNav partial
  docs:
  - identifier: "start"
    name: "Getting started"
    weight: -800
  - identifier: "recipes"
    name: "Recipes"
    weight: -700
  - identifier: "build"
    name: "Build with Fluid"
    weight: -600
  - identifier: "testing"
    name: "Testing"
    weight: -500
  - identifier: "deployment"
    name: "Deployment"
    weight: -400
  - identifier: "DDS"
    name: "Data structures"
    weight: -300
  - identifier: "concepts"
    name: "Concepts"
    weight: -200
  - identifier: "faq"
    name: "FAQ"
    url: "/docs/faq/"
    weight: -100
  - identifier: "glossary"
    name: "Glossary"
    url: "/docs/glossary/"
    weight: -90
  - identifier: "changelogs"
    name: "What's new"
    weight: -80

markup:
  goldmark:
    renderer:
      autoHeadingIDType: "github"
      # mark unsafe html as true since api-documenter uses html snippets in markdown
      unsafe: true
      extensions:
        definitionList: true
        footnote: true
        linkify: true
        strikethrough: true
        table: true
        taskList: true
        typographer: true

  highlight:
    codeFences: true
    guessSyntax: true
    hl_Lines: ""
    lineNoStart: 1
    # if you need to turn on line nos, use the highlight shortcode
    lineNos: false
    lineNumbersInTable: false
    noClasses: false
    tabWidth: 2

  tableOfContents:
    endLevel: 4
    ordered: false
    startLevel: 2
