baseURL: "https://fluidframework.com/"
languageCode: "en-us"
refLinksErrorLevel: "WARNING"
theme: "thxvscode"
title: "Fluid Framework"
titleCaseStyle: "Chicago"

permalinks:
  page: "/:slug"
  post: "/:year/:month/:day/:title"

params:
  appInsightKey: ""  # This is provided by the build system as an env variable
  customCSS: ["css/fluid.css", "css/tango.css"]
  dateform: "Jan 2, 2006"
  dateformNum: "2006-01-02"
  dateformNumTime: "2006-01-02 15:04 -0700"
  dateformShort: "Jan 2"
  githubRepo: "microsoft/FluidFramework"
  twitterHandle: "fluidframework"

menu:
  main:
  - name: "Getting started"
    url: "/docs/get-started/quick-start/"
    weight: -90
  - name: "Recipes"
    url: "/docs/recipes/"
    weight: -80
  - name: "API"
    url: "/reference/"
    weight: -70
  - name: "Community"
    url: "/community/"
    weight: -60
  - name: "Playground"
    url: "/playground/"
    weight: -50

  docs:
  - identifier: "get-started"
    name: "Get Started"
    weight: -500
  - identifier: "recipes"
    name: "Recipes"
    weight: -200
  - identifier: "faq"
    name: "FAQ"
    url: "/docs/faq/"
    weight: -100
  - identifier: "glossary"
    name: "Glossary"
    url: "/docs/Glossary/"
    weight: -90

  # this menu supplements one generated in the apiNav partial
  reference:
  - identifier: "concepts"
    name: "Concepts"
    weight: -400
  - identifier: "advanced"
    name: "Advanced"
    weight: -300

markup:
  goldmark:
    renderer:
      autoHeadingIDType: "github"
      # mark unsafe html as true since api-documenter uses html snippets in markdown
      unsafe: true
      extensions:
        definitionList: true
        footnote: true
        linkify: true
        strikethrough: true
        table: true
        taskList: true
        typographer: true

  highlight:
    codeFences: true
    guessSyntax: true
    hl_Lines: ""
    lineNoStart: 1
    # if you need to turn on line nos, use the highlight shortcode
    lineNos: false
    lineNumbersInTable: false
    noClasses: false
    tabWidth: 2

  tableOfContents:
    endLevel: 4
    ordered: false
    startLevel: 2
