# Common ignore patterns for packages using prettier.
# This can be referenced by using the `--ignore-path` cli argument and providing the relative path to this file.
# If your package requires other local exceptions, you can specify a local `.prettierignore` file with the appropriate
# settings, and not specify the `--ignore-path` argument in the formatting scripts.
# Note that you will (unfortunately) have to redundantly specify the below as applicable in that file.

# Coverage
nyc

# Build output
dist
lib

# Dependencies
node_modules

# Used by API-Extractor
*.api.md
_api-extractor-temp/**

# Formatting is not properly enforced in PR gating since `lerna version` uniformizes the file in a previous pipeline step.
# Since in practice this is likely only a tabs vs spaces issue, this file has just been converted to match the rest of the
# repository.
package.json
