.constellation-view {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: #000;
}

.star {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background-color: #ee0;
}
