name: "Auto Assign Pull Request"
on:
  pull_request_target:
    types: [opened, synchronize, reopened]
    branches:
    - main
    - release/*

jobs:
  assign_reviewer:
    runs-on: ubuntu-latest
    steps:
    - uses: shufo/auto-assign-reviewer-by-files@v1.1.1
      with:
        config: '.github/code_owners.yml'
        token: ${{ secrets.GITHUB_TOKEN }}
