name: Update link report
on:
  workflow_run:
    workflows: ["Website validation"]
    types:
      - completed

permissions:
  contents: read
  actions: read # for dawidd6/action-download-artifact to query and download artifacts

jobs:
  load_report:
    permissions:
      pull-requests: write # for marocchino/sticky-pull-request-comment to create or update PR comment
    runs-on: ubuntu-latest
    steps:
      - name: Download results
        # release notes: https://github.com/dawidd6/action-download-artifact/releases/tag/v11
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # ratchet:dawidd6/action-download-artifact@v11
        with:
          workflow: website-validation.yml
          # workflow_conclusion: completed
          run_id: ${{ github.event.workflow_run.id }}
          name: website-validation-results
          path: ./results
      - name: Load PR number
        id: load_pr
        run: echo "pr=$(cat pr)" >> $GITHUB_OUTPUT
        working-directory: ./results
      - name: Post report in comment
        # release notes: https://github.com/marocchino/sticky-pull-request-comment/releases/tag/v2.9.4
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # ratchet:marocchino/sticky-pull-request-comment@v2
        with:
          header: linkreport
          recreate: true
          number: ${{ steps.load_pr.outputs.pr }}
          path: ./results/linkcheck
