name: "Fluid PR Validation"
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
    - main
    - release/*

jobs:
  validate-codeowners:
    name: Validate CODEOWNERS
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: mszostok/codeowners-validator@v0.6.0
      with:
        github_access_token: "${{ secrets.GITHUB_TOKEN }}"
        checks: "files,duppatterns,syntax"
