name: Push commit to Azure Queue

on:
  push:
    branch: [ main ]

jobs:
  queue-pr:
    runs-on: ubuntu-latest
    if: ${{ github.event.label.name != 'do-not-merge-in-next' }}
    steps:
      - uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
      - uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561 # pin@v2
        with:
          node-version: 14
      - run: npm ci
      - run: npm install @azure/storage-queue
      - uses: actions/github-script@7a5c598405937d486b0331594b5da2b14db670da # pin@v6
        with:
          script: |
            const { QueueClient, QueueServiceClient } = require('@azure/storage-queue')
            const connectionString = 'DefaultEndpointsProtocol=https;AccountName=sonalideshpande;AccountKey=MjQlPAznKPTbFwOME9pw7yOB8vHkn+4TGAIi2fMs2+UG21EyT32Uqk3+mTt2xXMwpd4lKY5vxEuM+AStE9pX1w==;EndpointSuffix=core.windows.net';
            const queueName = 'main-next-integration';
            const queueServiceClient = QueueServiceClient.fromConnectionString(connectionString);
            const queueClient = queueServiceClient.getQueueClient(queueName);
            console.log("SHA-----", `${{ github.sha }}`);
            console.log("SHA-----", `${{ github.actor }}`);
            const message = {
              sha: `${{ github.sha }}`,
              author: `${{ github.actor }}`,
              label: `queued`,
            };
            await queueClient.sendMessage(JSON.stringify(message));
  add-comment:
    runs-on: ubuntu-latest
    needs: [ queue-pr ]
    steps:
      - name: Create commit comment
        uses: peter-evans/commit-comment@3f3629d9da4bf387b09fc75456a5b8a344ba5641 # pin@v2
        with:
          body: |
            'This commit is queued for merging with the `test_next` branch! Please ignore this PR for now. Contact @microsoft/fluid-cr-infra for help.'
