# This is a GitHub action that will automatically delete any branches
# that aren't protected and haven't been committed to in over 6 months.

name: Delete Stale Branches
on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Run in dry-run mode (no branches will be deleted)'
        required: false
        type: boolean
        default: true

permissions:
  contents: read

jobs:
  stale_branches:
    permissions:
      contents: write
    name: Cleanup old branches
    runs-on: ubuntu-latest
    steps:
      - name: Run remove-stale-branches action
        uses: fpicalausa/remove-stale-branches@v2.4.0
        with:
          github-token: ${{ github.token }}
          days-before-branch-stale: 180
          days-before-branch-delete: 0
          dry-run: ${{ inputs.dry_run }}
          exempt-branches-regex: ^(main|lts|next|release/.*)$
          exempt-protected-branches: false
          ignore-branches-with-open-prs: true
