body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

.exclusion {
  width: 400px;
  height: 800px;
  background: #e3f5f1;
  float: right;
  margin-right: 5px;
  animation: pulse2 10s infinite;
}

@keyframes pulse2 {
  0% {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  50% {
    shape-outside: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 50%);
    }
  100% {
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
 }